@import "variables.scss";

.about-one-report {
    .global_golas_section {
        .sdg_details_div {
            .sdg_details_content {
                display: flex;
                max-width: 100%;
            }
        }

    }

    // .report-about-download {
    //     .report-archive {
    //          .image-wrap {
    //              width: 280px;
    //          }
    //     }
       
    // }
}