@import "variables.scss";

.about-one-report {
    .report-about-download {
        padding-top: 43px;

        .title {
            font-weight: $font-weight-black;
            font-size: $SectionTitle;
            margin-bottom: 39px;
            line-height: 100%;
        }

        .report-archive {
            display: block;
            float: left;
            width: 100%;

            .image-wrap {

                &:nth-child(n+4) {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    width: 50%;
                    float: left;
                }
            }

        }
    }
}