@import "variables.scss";

.about-one-report {
    .top-block {
        min-height: 724px;

        .container-content {
            padding-top: 100px;
            padding-bottom: 30px;
            position: relative;
            top: 0;
            left: 0;

            h1,
            h2 {
                font-size: 42px;
                font-weight: $font-weight-black;
                max-width: inherit;
                position: relative;
                top: 0;
                left: 0;
            }

            p {
                &.p1 {
                    display: block;
                    font-size: 20px;
                }
            }
        }
    }

    .our-approach {
        padding-top: 95px;
        padding-bottom: 106px;
        padding-left: 20px;
        padding-right: 20px;

        .third-button {
            @include button;
            text-align: center;
            cursor: pointer;

            &_hover {
                margin-top: 45px;
            }
        }

        &-title {
            font-size: $SectionTitle1460;
            margin-bottom: 27px;
        }

        &-desc {
            font-size: $fontpSize1460;
            margin-bottom: 77px;

            h3 {
                font-size: 38px;
            }

            p {
                font-size: $fontpSize1460;
            }

            .accordions_div {
                 margin-top: 0px;
                .tabs {
                    .tab {
                        margin-bottom: 5px;

                        .tab-button {
                            &.open {
                                margin-bottom: 50px;

                            }
                        }

                        .tab-hide {
                            &.open {
                                margin-bottom: 50px;
                            }
                        }

                        p {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }

        &-moredetails {
            &>.third-button_hover {
                margin-top: 0px;
                margin-bottom: 50px;
            }

            .our-approach-image {
                margin-bottom: 50px;
            }

            .our-approach-table {
                table {
                    margin-bottom: 0px;

                    thead {
                        tr {
                            th {
                                min-width: 145px;
                                padding: 12px;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                min-width: 145px;
                                padding: 12px;
                                border: 2px solid #eaeef1;
                                border-collapse: collapse;
                            }
                        }
                    }
                }
            }
        }
    }

    .corporate-report {
        background-color: $backgroud-color;
        padding-top: 100px;
        padding-bottom: 140px;

        .container {
            padding-left: 20px;
            padding-right: 20px;

            .title {
                font-size: $SectionTitle1460;
                margin-bottom: 45px;
            }

            .corporate_content {
                margin-bottom: 80px;

                &>p {
                    font-size: $fontpSize1460;

                    &:not(:last-of-type) {
                        margin-bottom: 30px;
                    }

                    &:empty {
                        display: none;
                    }
                }
            }

            .accordions_div {
                .tabs {
                    .tabs-title {
                        font-size: 25px;
                    }

                    .tabs-content {
                        .tab {
                            .table-wrap {
                                table {

                                    thead,
                                    tbody {

                                        th,
                                        td {
                                            border-width: 1px;
                                            // border-collapse: collapse;
                                        }
                                    }
                                }

                                .tablepress {
                                    background-color: #ffffff;
                                    border: 1px solid #ffffff;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .global_golas_section {
        padding-top: 88px;
        padding-bottom: 86px;

        .global-goals-section-content {
            .title {
                padding: 0px;
                margin-bottom: 47px;
            }

            .description {
                padding: 0px 30px;
                margin-bottom: 57px;

                .sub-title {
                    font-size: $fontpSize1460;
                    max-width: 860px;
                    margin: 0px auto;
                }
            }
        }

        .sdg_icons_div {
            margin-bottom: 67px;
            font-size: 0px;

            .sdg_icons_img {
                max-width: 100%;

                .shareable-image {
                    width: 83px;
                    height: 83px;
                    float: none;
                    margin-bottom: 0px;

                    &:not(:last-of-type) {
                        margin-right: 22px;
                    }
                }
            }
        }

        .sdg_details_div {
            .third-button_hover {
                margin-top: 0px;
                margin-bottom: 50px;
            }
            .sdg_details_content {
                max-width: 80%;
                margin: 0px auto;
                float: none;
                display: flex;

                &:not(:last-of-type) {
                    margin-bottom: 80px;
                }

                .shareable-image {
                    width: 120px;
                    height: 120px;
                    margin-bottom: 0px;
                }

                .sdg_details-desc {
                    padding-left: 44px;

                    .sdg_details_title {
                        margin-bottom: 33px;
                        font-size: $fontpSize1460;
                        padding: 0px;
                        margin-top: 0px;
                        line-height: 100%;
                    }

                    .sdg_details_Subtitle {
                        font-size: $fontpSize1460;
                        margin-bottom: 0px;
                    }
                }

            }
        }

        .third-button {
            width: 251px;

            &_hover {
                margin-top: 67px;
            }
        }
    }

    // .report {
    //     padding: 100px 0px;

    //     .title {
    //         margin-bottom: 50px;
    //     }
    // }

    .report-about-download {
        padding-top: 90px;

        .title {
            font-size: 38px;
            margin-bottom: 56px;
        }

        .report-archive {

            .image-wrap {
                margin-left: 12px;
                margin-right: 12px;
                margin-top: 0px;
                float: left;
                width: calc(33.33% - 24px);
                margin-bottom: 40px;

                &:nth-child(3) {
                    margin-bottom: 40px;
                }

                &:nth-child(n+4) {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    width: calc(33.33% - 24px);

                    .link-wrap {
                        display: flex;
                        justify-content: center;

                        a {
                            font-size: $fontpSize1460;
                            text-decoration: none;
                            display: inline-flex;
                            border-bottom: 1px solid;
                            line-height: 100%;

                            p {
                                margin-left: 5px;
                                margin-right: 0px;
                            }
                        }
                    }

                }

                &:last-child {
                    margin-bottom: 40px;
                }

                &:nth-child(-n+3)  {
                    margin-bottom: 90px;
                }
            }

        }
    }
}