@import "variables.scss";

.about-one-report {
    .global_golas_section {
        .sdg_icons_div {
            .sdg_icons_img {
                max-width: 100%;
                margin: 0px auto;

                .shareable-image {
                    width: 83px;
                    height: 83px;
                    float: none;
                    margin-bottom: 0px;

                    &:not(:nth-child(3n)) {
                        margin-right: 0px;
                    }

                    &:not(:last-of-type) {
                        margin-right: 22px;
                    }
                }
            }
        }

    }

    .report {
        .report-blocks {
            flex-direction: row;
            .report-block {
                .report-form {
                    .list-checkbox {
                        .custom-checkbox {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}