.all-stories {
  .container {
    max-width: 1200px;
    .title {
      font-size: 38px;
      }
    .content {
      font-size: 22px;
      }
    .all-stories-block {
      .all-stories-column {
        max-width: 80%;
        width: 100%;
        }
      }
    }
  }