.all-stories {
  .container {
    padding: 75px 10px 0;
    .story-column-name {
      text-align: center;
      padding: 5px 14px;
      .karat {
        display: none;
      }
    }
    .content {
      color: $color-darker-blue;
      margin-bottom: 70px;
    }

    .all-stories-block {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      transition: none;
      .all-stories-column {
        max-width: 32%;
        width: 100%;
        .story-key-topic {
          text-align: center;
          padding: 4px 0 4px 10px;
          font-size: 17px;
        }
        .all-stories-item {
          font-size: 14px;
          padding: 16px;
          img {
            width: 75px;
            height: 50px;
          }
          p {
            max-width: 190px;
          }
        }
        .stories-mobile {
          display: flex;
        }
      }
    }
  }
}