.all-stories {
  .container {
    padding: 75px 55px 0;
    .story-column-name {
      font-size: 30px;
    }
    .all-stories-block {
      .all-stories-column {
        .story-key-topic {
          text-align: left;
          padding: 4px 0 4px 10px;
          font-size: 17px;
        }
        .all-stories-item {
          font-size: 16px;
          img {
            width: 100px;
            height: 75px;
          }
          p {
            padding: 0 20px;
          }
          i {
            font-size: 75px;
          }
        }
      }
    }
  }
}