.all-page-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 50px);

  .intro {
    flex: 1 5 auto;
    min-height: 335px;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      height: auto;
    }
  }

  .description {
        padding: 50px 0 0;
    .title {
      font-size: 60px;
    }

    .subtitle {
      font-size: 32px;
    }

        .container {
          max-width: 1020px;
          padding: 0px;
          text-align: left;

          .home_image {
            width: 355px;
            float: left;
            display: inline;
            img {
              margin-bottom: -6px;
            }
          }

          .description_content {
            width: calc(100% - 380px);
            float: right;
          }
        }
  }
}
.wrap-all-page-block {
  display: flex;
}
