.custom-checkbox {
  label {
    margin-bottom: 16px;
    padding-left: 42px;
    font-size: 18px;
    &:before {
      width: 22px;
      height: 22px;
    }
  }

  label:hover,
  input:checked + label{
    &:after {
      left: 11px;
      bottom: 5px;
      width: 14px;
      height: 7px;
    }
  }
}