.circle-content {
  padding-bottom: 17px;
  .circle {
    padding: 20px 20px 30px;
    &.big-circle {
      width: 400px;
      height: 400px;
      font-size: 24px;
    }
    .wrap-image {
      img {
        max-width: 110px;
        max-height: 110px;
      }
    }
    .number {
      font-size: 50px;
    }
  }
}