.custom-circle-graph {
  padding-top: 55px;
  margin-bottom: 50px;
  .circle-title {
    width: 130px;
    height: 130px;
    font-size: 23px;
    .percent {
      font-size: 29px;
    }
  }
  .remainder {
    font-size: 16px;
    right: -24%;
    bottom: 0;
  }
  .inner-text {
    font-size: 25px;
  }

  svg {
    width: 63vw;
    height: 63vw;
  }
}