.custom-circle-graph {
  float: left;
  width: 50%;
  padding-top: 75px;
  box-sizing: border-box;
  .circle-title {
    width: 160px;
    height: 160px;
    font-size: 26px;
    .percent {
      font-size: 38px;
    }
  }
  .inner-text {
    font-size: 27px;
  }
  .remainder {
    font-size: 19px;
    right: -19%;
    bottom: 25px;
  }
}