.custom-figure {
  .column {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    img {
      max-width: 100%;
      margin-bottom: 35px;
    }
    .title {
      font-size: 28px;
    }
    p {
      margin: 0;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    padding-top: 63px;
    padding-bottom: 93px;

    border-top: 2px solid $color-white;
    &:after {
      display: none;
    }
    .column {
      max-width: 300px;
    }
  }
}