.custom-info-block {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: left;
  .number {
    //display: table-cell;
    flex: 0 0 auto;
    text-align: right;
    white-space: nowrap;
    max-width: 70%;
    span {
      padding-right: 5px;
    }
  }
  .text {
    //display: table-cell;
    flex: 1 0 auto;
    max-width: 150px;
    padding-left: 30px;
    vertical-align: middle;
    p {
      margin-bottom: 0;
    }
  }
  &.with-image {
    .number {
      span {
        max-width: 85%;
      }
    }
  }
}
