.custom-info-block {
  margin-bottom: 65px;
  .number {
    font-size: 124px;
    letter-spacing: -3px;
    line-height: 1.2;
    img {
      max-width: 120px;
    }
  }
  .text {
    max-width: 375px;
    padding-left: 40px;
    font-size: 28px;
  }
}