.footer-wrapper {
  .foot-info {
    padding: 44px 0 0;
    .container {
      overflow: hidden;
    }
    .logo {
      img {
        margin-right: 10px;
      }
    }
    .copyright {
      max-width: 1200px;
    }
    .social-list {
      float: right;
      max-width: 320px;
      overflow: hidden;
    }
    #menu-footer-menu {
      .ftr-title {
        .sub-menu {
          columns: 2;
        }
      }
      .ftr-social {
        .sub-menu {
          columns: 1;
        }
      }
    }
  }
  .survey-block {
    p {
      display: block;
      margin: 0;
      color: $color-white;
      font-weight: 100;
      font-size: 14px;
      span {
        color: $color-yellow;
        font-weight: 700;
        padding-right: 12px;
      }
      button {
        background: transparent;
        border: 1px solid $color-white;
        border-radius: 9px;
        padding: 4px 17px;
        margin: 0 0 0 10px;
        color: $color-white;
        font-weight: 100;
        display: inline-block;
        max-width: max-content;

      }
    }
    background: $color-blue;
    text-align: center;
    margin: 0;
    padding: 8px 0;
  }

  .survey-block {
    p {
      span {
        padding-right: 12px;
      }
      button {
        margin-left: 10px;
      }
    }
  }
}