.footer-wrapper {
  .foot-info {
    .copyright {
      text-align: center;
    }
    .container {
      padding: 0;
    }
    #menu-footer-menu {
      padding-top: 15px;
    }
    .ftr-social {
      margin-left: 50px;
    }
  }
  .survey-block {
    p {
      span {
        padding-right: 12px;
      }
      button {
        margin-left: 10px;
      }
    }
  }
}