.magnific-form {
  font-size: 17px;
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    margin: 0 0 25px;
  }
  .list-item {
    font-size: 15px;
    input {
      & + span {
        &:before {
          width: 15px;
          height: 15px;
          margin: -3px 12px 0 0;
          border-radius: 4px;
        }
      }
    }
  }
  .text {
    width: 440px;
    height: 26px;
    max-width: calc(100% - 50px);
    margin-left: 30px;
  }
  .submit {
    font-size: 21px;
  }
  .form-inline-radio {
    .form-inline-row {
      .form-inline-cell {
        width: 30%;
        font-size: 15px;
      }
      p {
        width: 70%;
      }
      .list-item {

        input {
          display: none;
          & + span {
            vertical-align: middle;
            font-size: 12px;
            &:before {
              display: block;
            }
          }
        }
      }
    }
  }
}