.magnific-form {
  margin: 135px auto;
  padding: 0 110px 30px;
  font-size: 22px;
  border-radius: 18px;
  h1 {
    max-width: 445px;
    margin-bottom: 19px;
    font-size: 36px;
  }
  h3 {
    max-width: 530px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  h4 {
    margin: 0 0 33px;
  }
  hr {
    width: auto;
    margin: 0 -57px 34px;
  }
  p {
    margin-bottom: 36px;
  }
  .hold-image {
    margin: 0 -110px 24px;
  }
  .form-control-wrap {
    padding-left: 46px;
  }
  .list-item {
    margin-bottom: 5px;
    font-size: 18px;
    input {
      & + span {
        &:before {
          width: 12px;
          height: 12px;
          margin: 0 19px 3px 0;
          border: 2px solid #374bac;
          border-radius: 50%;
          vertical-align: bottom;
        }
      }
    }
  }
  .submit {
    padding: 10px 31px;
    font-size: 18px;
    border-radius: 16px;
    border-width: 1px;
  }
  .text {
    height: 35px;
    margin-left: 40px;
  }
  .form-inline-radio {
    padding-left: 40px;
    .form-inline-row {
      margin-bottom: 35px;
      .form-inline-cell {
        font-size: 18px;
      }
      .list-item {
        input {
          & + span {
            font-size: 11px;
            &:before {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .mfp-close-custom {
    top: 30px;
    right: 31px;
    width: 67px;
    height: 50px;
    border-width: 1px;
    border-radius: 13px;
    &:after,
    &:before {
      width: 36px;
    }
    &:hover{
      background:$color-white;
      &:after,
      &:before {
        background: $color-blue;
      }
    }
  }
}