.illustration-holder {
  position: relative;
  overflow: hidden;
  font-size: 1.1vw;
  img {
    width: 100%;
    margin-bottom: 0;
  }
  .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    padding: 30px;

    box-sizing: border-box;
    border-radius: 50%;
    background: $color-white;
  }
}