.image-tile {
  .image-wrap {
    margin-bottom: 45px;
    padding: 35px;
    width: 280px;
    img {
      max-height: 180px;
    }
    .main-button {
      padding-right: 55px;
      font-size: 18px;
    }
  }
}