.image-block {
  .sing {
    margin-bottom: 40px;
  }
  .wrap-image {
    & > img {
      display: inline-block;
      width: 44%;
      vertical-align: middle;
    }
    .inner-image {
      display: inline-flex;
      width: 55%;
      vertical-align: middle;
    }
  }
}