.image-block {
  .inner-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    li {
      width: 50%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}