.image-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  .image-wrap {
    display: block;
    width: 250px;
    .image-tile-title {
      font-size: 50px;
    }
  }
}