.all-page-block {
     .description  {
         padding: 0px;
         .container  {
            .home_image {
                display: none;
            }
             .description_content {
                 width: 100%;
             }
         }
     }
}

.intro {
    .title {
        font-size: 24px;
        width: 40px;

        strong {
            font-size: 24px;
        }
    }
}