.intro {
  .bg-image {
    height: 503px;
  }

  .container-large,
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
  }

  .container-large {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 1600px;
    height: 100%;
  }

  .container {
    padding: 10px 0;
    height: 50%;
  }

  .title {
    left: 10px;
    // max-width: 360px;
    font-size: 94px;
    text-align: left;
    width: auto;
    strong {
      font-size: 94px;
    }
  }
  .description {
    position: absolute;
    top: 40px;
    right: 10px;
    max-width: 320px;
    padding: 0;
    font-size: 15px;
    text-align: left;
    background: transparent;
    em {
      margin-top: 15px;
    }
    h2 {
      font-size: 32px;
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 18px;
    }
  }
}
.intro-text {
  max-width: 400px;

  text-align: right;

  background: transparent;
  color: $color-white;
}