.link-list-wrap {
  padding: 80px 0;
  font-size: 18px;
  &.link-list-blue-light .title {
    font-size: 60px;
  }
  a{
    font-size: 28px;
    &:after {
      margin-bottom: 3px;
      border-width: 3px;
    }
  }
  &.link-list-blue {
    .title {
      font-size: 48px;
    }
  }
}