.looking-forward {
  .container-large {
    width: auto;
    max-width: 1350px;
    padding: 0;
  }

  .title-image {
    width: 100%;
  }

  .title-looking-forward {
    padding: 56px 0;

    h2 {
      font-size: 60px;
    }

    .sub-title {
      font-size: 28px;
    }
  }

  .list-squares-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 115px 0 75px;

    li {
      width: 300px;
      height: 300px;
      padding: 30px;
      margin: 0 20px 49px;
    }
  }
}