.looking-forward {
  .list-squares-circles {
    li {
      width: 350px;
      height: 350px;
      margin: 0 25px 49px;
    }
  }
  .list-squares-circles {
    .title {
      font-size: 28px;
    }
    .description {
      font-size: 18px;
    }
  }
}