ol {
  overflow: hidden;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  li {
    max-width: none;
    &:before {
      padding-top: 7px;
      width: 36px;
      height: 36px;
    }
    & > span {
      width: calc(100% - 56px);
    }
  }
}