.one-report-tabs {
  .container {
    .tabs {
      .tabs-content-one-report {
        .slider-one-report {
          padding-top: 43px;

          .tab-buttons-wrap {
            padding: 0 150px;
          }
        }

        .tab-hide-one-report {
          .slider-item {
            padding: 0 43px;

            .area-one {
              .slider-media {
                .wrap {
                  height: 400px;
                }
              }
            }

            .tab-wrap {
              .slider-media {
                .wrap {
                  max-width: 330px;
                  height: 330px;
                }
              }
            }
          }
        }
      }
    }
  }
}