.one-report-tabs {
  margin: 55px 0 0;

  .container {
    .tabs {
      .tabs-content-one-report {
        .slider-one-report {
          padding-top: 55px;

          .slick-prev,
          .slick-next {
            width: 50px;
            height: 50px;

            &:before {
              width: 50px;
              height: 50px;
            }
          }

          .slick-prev {
            left: 50px;

            &:before {
              margin-right: -25px;
            }
          }

          .slick-next {
            right: 50px;

            &:before {
              margin-left: -25px;
            }
          }

          .tab-buttons-wrap {
            top: -54px;

            justify-content: center;

            li {
              padding: 10px 0;
              max-width: 250px;
              margin-left: 15px;

              &:first-child {
                margin-left: 0;
              }
            }

            .tab-button-one-report {
              font-size: 26px;
            }
          }
        }

        .tab-hide-one-report {
          .slider-item {
            padding: 0 150px;

            .flex {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              text-align: left;
            }

            .slider-content {
              justify-content: flex-start;

              h3 {
                font-size: 42px;
              }
            }

            .area-one {
              box-sizing: border-box;
              height: 400px;

              .slider-media, .slider-content {
                width: 50%;
              }

              .slider-media {
                position: relative;

                overflow: hidden;
              }

              .slider-content {
                align-items: flex-start;
                padding: 30px;
              }
            }

            .tab-wrap {
              box-sizing: border-box;
              width: 100%;
              margin-top: 15px;
              height: 330px;

              .area-two,
              .area-three {
                width: 50%;
              }

              .area-two {
                margin-right: 15px;

                overflow: auto;
              }


              .slider-media {
                justify-content: flex-end;
                padding: 0 30px 0 0;
              }
            }
          }

          .wrap-button {
            padding: 50px 0;
          }
        }
      }
    }
  }
}