.quote {
  clear: both;
  display: inline-block;
  .inner-quote {
    float: right;
    width: 70%;
  }
  img {
    float: left;
    width: 27%;
    margin-right: 3%;
  }
  .sing {
    margin-bottom: 0;
  }
  &.noimage {
    .inner-quote {
      width: 100%;
    }
  }
}
.inner-half {
  .quote {
    .inner-quote {
      float: none;
      width: auto;
    }
    .sing {
      margin-bottom: 15px;
    }
    img {
      display: block;
      float: none;
      width: auto;
      //width: 150px;
      margin: 0 auto;
    }
  }
}