.report {
  padding: 90px 0;
  .preview {
    padding: 55px;
  }
  .report-title {
    margin-bottom: 25px;
    font-size: 28px;
  }
  .report-block {
    max-width: 46%;
    flex: 1 0 46%;
    margin: 0 2%;
  }
  .links-block {
    padding: 55px 20px;
  }
  .main-button {
    padding: 14px 20px;
    font-size: 18px;
  }
  .report-form {
    .main-button {
      font-size: 14px;
      margin-right: 3px;
    }
    .loader {
      width: 28px;
      height: 28px;
    }
  }
  .report-check {
    padding: 55px;
  }
  .list-checkbox {
    margin-bottom: 35px;
  }
  .title {
    font-size: 60px;
  }
}

.main-button.download-icon {
  padding-right: 55px;
  &:before {
    width: 30px;
    height: 30px;
  }
}