.reporting {
  padding-top: 90px;
  padding-bottom: $main-padding-desktop;

  font-size: 18px;

  .title {
    font-size: 60px;
  }

  .sub-title {
    margin-bottom: 25px;
    font-size: 28px;
  }

  .title-image {
    width: 100%;
  }
}