.rows-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  text-align: left;
}
.rows-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  text-align: left;
}