.search-list {
  padding: 55px 0;
  .title {
    font-size: 28px;
  }
  .query {
    font-size: 60px;
  }
  .container {
    padding: 0 30px;
  }
  .search-box {
    padding: 60px 0;
    .title-search-box {
      font-size: 28px;
    }
  }
  .page-tag {
    span {
      padding: 5px 10px;
    }
  }
}