.search-list {
  .search-box {
    overflow: hidden;
    .wrap-image {
      display: block;
      float: left;
      max-width: 200px;
      margin-right: 35px;
    }
  }
  .content {
    overflow: hidden;
  }
}