.service-info {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    float: none;
    width: 33.3%;
  }
  .service-info-inner {
    min-height: 400px;
  }
  .service-info-2 {
    .column {
      width: 50%;
    }
  }
  .service-info-1 {
    .column {
      width: 100%;
    }
  }
}
.service-info-title {
  h2 {
    font-size: 42px;
    a {
      &:after {
        width: 10px;
        height: 10px;
        border-right: 5px solid;
        border-bottom: 5px solid;
        border-radius: 2px;
      }
    }
  }
}