.service-info-block {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    float: none;
    width: 33.3%;
  }
  >:nth-child(odd){
    >:first-child{
      width: 33.3%;
      }
    >:last-child{
      width: 66.6%;
      }
    }
  >:nth-child(even) {
   >:first-child{
     width: 66.6%;
     }
    >:last-child{
      width: 33.3%;
      }
    }
  .service-info{
    .service-tablet-0-0 {
      width: 100%;
      }
    }
  }
.third-block {
  > :nth-child(odd) {
    .column {
      width: 50%;
      }
    }
  > :nth-child(even) {
    .column {
      width: 100%;
      }
    }

  }
.two-block{
  .container {
    .column {
      width: 50%;
      }
    }
  }
.solo-block{
  .container {
    .column {
      width: 100%;
      }
    }
  }
.service-info-title {
  h2 {
    font-size: 42px;
    a {
      &:after {
        width: 10px;
        height: 10px;
        border-right: 5px solid;
        border-bottom: 5px solid;
        border-radius: 2px;
      }
    }
  }
}