.service {
    padding: 50px 0;

    &.footview-service {
        padding-top: 85px;
        padding-bottom: 95px;

        .title {
            margin-bottom: $marginb30;
            font-size: $SectionTitle1460;
        }

        .sub-desc {
            font-weight: $font-weight-regular;
            font-size: $fontpSize1460;
        }
    }
}