.service-info {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .column {
    float: left;
    width: 50%;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    .service-tablet-0-0 {
      width: 100%;
      }
  }

}