@import "variables.scss";

.service {
  &.section-success {
	.succses-info {
	  flex-direction: row;
	  .success-aside {
		transform: translateY(80px);
		position: relative;
		z-index: 2;
		height: 400px;
	  }
	  .center-image {
		&:before, &:after {
		  content: "";
		  width: 70%;
		  height: 2px;
		  display: block;
		  position: absolute;
		  background-color: #5e7e95;
		  top: 48%;
		  z-index: 1;
		}
		&:before {
		  left: -50%;
		}
		&:after {
		  right: -50%;
		}
	  }
	}
	h4 {
	  max-width: 259px;
	  color: $color-red;
	  text-align: center;
	  font-size: 47px;
	  font-weight: 400;
	  margin: 0 auto;
	  line-height: 1;
	}
	p {
	  color: $color-dark-blue;
	  font-size: 12px;
	  font-weight: 900;
	  max-width: 115px;
	  text-align: center;
	  margin: 10px auto 0;
	}
  }
}
