.service-info {
  padding-bottom: 50px;
  .service-info-inner {
    margin: 0;
    height: 400px;
    padding: 30px;
    transition: all 150ms 0ms;
    z-index: 0;
    .page-tag {
      font-size: 12px;
      text-transform: uppercase;
      transition: all 150ms 0ms;
    }
    .title {
      display: block;
      font-size: 60px;
      font-weight: $font-weight-bold;
      opacity: 0;
      line-height: 1;
      transition: all 150ms 0ms;
    }
    h3 {
      font-size: 30px;
      font-weight: $font-weight-bold;
    }
    &:hover {
      z-index: 2;
      margin: -20px;
      padding: 50px;
      height: 440px;
      transition: all 300ms 150ms;

      box-shadow: 9px 9px 0 rgba(0, 0, 0, 0.2);
      .page-tag {
        top: 40px;
        left: 40px;
        transition: all 300ms 150ms;
      }
      .title {
        opacity: 1;
        transition: all 300ms 150ms;
      }
    }
  }
}