@import "../variables.scss";


.service {
  padding: 50px 0 100px;

  ol {
    text-align: left;
    li {
      margin-bottom: 19px;
    }
  }
  .title {
    font-size: 60px;
    margin-bottom: 25px;
  }
  .sub-title {
    font-size: 28px;
    vertical-align: middle;
  }
  .code {
    font-size: 29px;
  }
  &.wrap-image-list {
    .container {
      padding-top: 90px;
      padding-bottom: 55px;
    }
  }


  &.section-awards {
    padding-top: 100px;
    padding-bottom: 37px;

    .container {
      padding-top: 0px;

      .image-list {
        margin-bottom: 0px;
      }
    }
  }

  &.footview-service {
    padding-top: 50px;
    padding-bottom: 50px;

    .title {
      margin-bottom: $marginb30;
      font-size: $SectionTitle1023;
    }

    .sub-desc {
      font-weight: $font-weight-regular;
      font-size: $fontpSize1023;
    }
  }
}
.list {
  &.service {
    .container {
      padding-bottom: 60px;
    }
  }
}
