@import "../variables";

.slider-section {
  padding: 50px;

  // .slider {
  //   // .slick-list {
  //   //   margin: 0 50px;
  //   // }

  //   .slick-arrow {
  //     &.slick-prev {
  //       left: 10px;
  //     }

  //     &:before {
  //       content: '';
  //       position: absolute;
  //       top: 50%;

  //       display: block;
  //       width: 30px;
  //       height: 30px;
  //     }

  //     &.slick-next {
  //       right: 10px;
  //     }
  //   }
  // }

   &.sliderSectionHomePage {
      padding: 0px;
     .slick-slider {
  
       .slidertoptitle {
         h2 {
           max-width: 100%;
           padding: 0px 100px;
         }
       }
     }
   }
}
