@import "../variables";

.slider-section {
  padding: 50px $main-padding-desktop;

  h2 {
    font-size: 60px;
  }

  .slider {
    .slick-list {
      .slick-slide {
        .background_image_div {
          padding: 90px 0px 115px;
        }
      }

      // overflow: visible !important;
    }

    .slick-arrow {
      z-index: 17;

      width: 73px;
      height: 73px;

      // &.slick-prev {
      //   left: -60px;
      // }

      // &.slick-next {
      //   right: -60px;
      // }
    }

    .slick-prev,
    .slick-next {
      &:before {
        width: 50px;
        height: 50px;
      }
    }

    .slick-prev {
      &:before {
        margin-right: -25px;
      }
    }

    .slick-next {
      &:before {
        margin-left: -25px;
      }
    }

    .slider-item {
      display: block !important;
      margin: 0 auto;

      .slidertoptitle {
        max-width: $max-width-content;
        margin: 0px auto;
      }

      h3 {
        font-size: 38px;
      }

      p {
        margin: 0 10px;
        font-size: $fontpSize1460;
        font-weight: $font-weight-regular;
        // line-height: 100%;
        // margin-bottom: 15px;

        &.story_sliderTitle {
          margin-bottom: 5px;
          font-size: 25px;
          font-weight: $font-weight-black;
          color: #1a2c80;
        }

        &.story_sliderSubtitle {
          font-size: 16px;
          font-weight: $font-weight-medium;
          margin: 0px;
          color: #1a2c80;
          line-height: normal;
        }
      }

      .wrap-button {
        text-align: center;
        // padding: $performance-padding 0;

        a {
          @include button;
          margin-top: 55px;

          &::after {
            display: none;
          }
        }

      }

      .image-list {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 40px;
        li {
          min-width: 300px;
          max-width: 300px;
          padding: 0px;
          margin: 0px;
          margin-bottom: 10px;
          position: relative;
          overflow: hidden;

          .image-block {
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0px;
            margin-bottom: 25px;

            img {
              padding-bottom: 0px;
              height: auto;
            }
          }

          .image-content {
            padding: 0px 20px;
          }

          &:not(:nth-child(3)) {
            // .image-content {
            //   border-right: 3px solid $color-dark-blue;
            // }

            .image-block {
              &::after {
                content: '';
                background: $color-dark-blue;
                height: 100%;
                position: absolute;
                bottom: 0px;
                width: 3px;
                top: 85px;
                right: 0px;
              }
            }
          }
        }
      }
    }
  }

  &.sliderSectionHomePage {
    padding: 0px;

    .slick-slider {
      margin-bottom: 0px;

      .slidertoptitle {
        h2 {
          font-size: $SectionTitle1023;
        }
        .slider-text {
          font-size: $fontpSize1023;
          font-weight: $font-weight-regular;
        }
      }

      .slick-dots {
        bottom: 50px;
      }
    }
  }
}