@import "../variables";
$performance-padding: 30px;

.slider-section {

    .slider {

        .slider-item {
   
            .image-list {

                li {
                    min-width: 400px;
                    max-width: 400px;
                    padding: 0px;
                    margin: 0px;

                    .image-block {
                        height: 60px;
                        display: flex;
                        align-items: center;
                        padding: 0px;
                        margin-bottom: 25px;

                        img {
                            padding-bottom: 0px;
                        }
                    }

                    .image-content {
                        padding: 0px 20px;
                    }

                    // &:not(:nth-child(3)) {
                    //     .image-content {
                    //         border-right: 3px solid $color-dark-blue;
                    //     }
                    // }
                }
            }
        }

        // .slick-arrow {

        //     &.slick-prev {
        //         left: 10px;
        //     }

        //     &.slick-next {
        //         right: 10px;
        //     }
        // }
    }


    &.sliderSectionHomePage {
        padding: 0;

        .slick-slider {
            margin-bottom: 0px;

            // .slick-dots {
            //     bottom: -65px;
            // }
        }
    }
}