.square-info {
  display: flex;
  align-items: stretch;
  margin-bottom: 70px;

  .square-info-wrap {
    display: flex;
    flex-direction: row;
  }

  .wrap-img {
    width: 50%;
  }

  .info {
    width: 50%;
  }
}