.square-info {
  margin-bottom: 105px;

  .wrap-img {
    height: 538px;
  }

  .info {
    height: auto;
    font-size: 32px;

    .info-inner {
      width: 445px;
      height: 445px;
    }

    .number {
      font-size: 124px;
    }
  }
}