.story {
  .video {
    height: 420px;
  }
  .container {
    margin-bottom: 70px;
  }
  .inner {
    clear: both;
    &.inner-half {
      float: left;
      width: 55%;
      margin: 0 30px 20px -20px;
      min-width: 340px;
      min-height: 200px;

    }
  }
  .story-nav {
    .wrapper-related {
      &.prev-story{
        margin-right: 35px;
      }
      &.next-story{
        margin-left: 35px;
      }
      .related-info {
        margin-top: 27px;
        .related-text {
          font-size: 16px;
          line-height: 1.15;
          .page-tag {
            font-size: 16px;
          }
        }
        .related-text-prev {
          margin-right: 25px;
        }
        .related-text-next {
          margin-left: 25px;
        }
        .related-image {
          width: 89px;
          min-width: 89px;
          max-width: 89px;
          height: 50px;
          min-height: 50px;
          max-height: 50px;
        }
      }
    }
    .main-button{
      min-width: 194px;
      font-size: 18px;
      border-width: 1px;
      padding: 11px 54px 11px 22px;
      &:after {
        right: 21px;
      }
      &.prev {
        padding: 11px 22px 11px 54px;
        &:after {
          right: auto;
          left: 21px;
        }
      }
    }
  }
}

.stories .service-info {
  margin: 0 -3px 55px;
  .container {
    .column:last-child {
      width: 100%;
    }
  }
}
