.story {
  .video {
    height: 320px;
  }
  .story-nav {
    .wrapper-related {
      &.prev-story{
        margin-right: 25px;
      }
      &.next-story{
        margin-left: 25px;
      }
      .related-info {
        flex-direction: row;
        .related-text {
          font-size: 11px;
        }
        .related-text-prev {
          margin-right: 15px;
        }
        .related-text-next {
          margin-left: 15px;
        }
        .related-image {
          width: 56px;
          min-width: 56px;
          max-width: 56px;
          height: 39px;
          min-height: 39px;
          max-height: 39px;
          margin-bottom: 0;
          
        }
      }
  
      .prev-info {
        .related-image{
          order: 1;
        }
      }
    }
    .main-button {
      padding: 14px 58px 14px 30px;
      &::after {
        right: 30px;
      }
      &.prev {
        padding: 14px 15px 14px 58px;
        &:after {
          left: 30px;
          right: auto;
        }
      }
    }
  }
}