@import "variables.scss";

.story {
  .promo-img {
    .main-button {
      top: 35px;
      left: 35px;
      bottom: auto;
      padding: 15px 25px 10px 48px;
      border-radius: 21px;
      font-size: 18px;
      &:after {
        left: 15px;
      }
      &.prev {
        padding: 14px 30px 14px 58px;
        &:after {
          left: 30px;
          right: auto;
        }
      }
    }
  }
  .title {
    font-size: 35px;
  }
  .intro {
    font-size: 24px;
    //font-size: 18px;
  }
  .inner-block {
    font-size: 30px;
  }
  .wrap-video {
    margin: 0 0 50px;
  }


   /* Stories Page */
   &-page {
     .promo-img {
       margin-bottom: 36px;

       .main-button {
         left: 20px;
       }
     }

     .container {
       padding-left: 30px;
       padding-right: 30px;
     }

     &__content {
       .page-tag-wrap_top {
         float: left;
         width: 100%;
         border-bottom: 4px solid #dae1e6;
         padding-bottom: 30px;
         margin-bottom: 70px;

         .sdg_images_div {
           font-size: 14px;
           width: 450px;
           float: left;
           @include storyTop;

           .sdg_images {
             font-size: 0px;
             margin-top: 4px;

             img:not(:last-child) {
               margin-right: 10px;
             }
           }
         }

         .gri_div {
           font-size: 14px;
           width: 150px;
           float: left;
           @include storyTop;

           ul {
             list-style: none;
             padding-left: 0px;

             li {
               color: $color-blue;
               font-weight: $font-weight-black;
               line-height: 100%;

               &:not(:last-child) {
                 margin-bottom: 5px;
               }
             }
           }
         }

         .sasb_div {
           width: 140px;
           font-size: 14px;
           float: left;
           @include storyTop;

           ul {
             list-style: none;
             padding-left: 0px;

             li {
               color: $color-yellow;
               font-weight: $font-weight-black;
               line-height: 100%;

               &:not(:last-child) {
                 margin-bottom: 5px;
               }
             }
           }
         }
       }
     }
   }
}