.story {
  font-size: 18px;
  .promo-img {
    margin-bottom: 65px;
  }
  .title {
    margin-bottom: 50px;
    //margin-bottom: 38px;
    font-size: 48px;
    //font-size: 36px;
  }
  .inner-block {
    padding: 60px 50px;
    margin: 0 -50px 40px;
    font-size: 36px;
    border-width: 2px;
  }
  .inner {
    margin: 35px -50px 40px;
    &.testimonial-secondary {
      margin: 0 -50px;
    }
    &.inner-half {
      margin-left: -50px;
      //margin-left: -36px;
    }
  }
  .wrap-video {
    margin-bottom: 40px;
  }
  .story-nav {
    margin-bottom: 64px;
  }
  p {
    margin-bottom: 40px;
  }
}

.stories {
  h2 {
    &.title {
      margin-bottom: 55px;
      padding-top: 62px;
      border-width: 2px;
      font-size: 36px;
    }
  }
  .service-info {
    margin-bottom: 59px;
    padding: 0;
    .container {
      .column:last-child {
        width: 33.3333%;
      }
    }
  }
  .wrap-button {
    margin-bottom: 70px;
  }
  .main-button {
    padding: 16px 46px;
    border-radius: 20px;
    &:after {
      margin-left: 19px;
    }
  }
}