@import "variables.scss";

body {
  font-size: 18px;
}
.main-button {
  padding: 15px 20px;
  border: 1px solid #304cb2;
  border-radius: 17px;
  font-size: 18px;
  font-weight: $font-weight-black;
  color: $color-blue;
  background: $color-white;
  &:hover {
    color: #fff;
    background: $color-blue;
  }
}


html,
body {
  height: auto;
  //overflow: auto;
}
.stop-scroll {
  width: auto;
  height: auto;
  position: static;
  overflow: hidden;
  body {
    overflow: hidden;
  }
}