@import "../variables";

.global_golas_section {
    padding: 100px 0px 70px;

    h2 {
        @include sectionTitle;
    }

    .description {
        display: flex;
        max-width: 820px;
        margin: 0px auto;

        .video-wrap {
            min-width: 160px;
            text-align: left;

            img {
                width: 115px;
            }
        }

        .sub-title {
            text-align: left;
            font-weight: $font-weight-regular;
            font-size: $fontpSize1460;
        }
    }

    .wrap-button {
        a {
             margin-top: 70px;
            @include button;
        }
    }
}