@import "../variables";

.global_golas_section {
    padding: 50px 0px 70px;

    h2 {
        @include sectionTitle;
        margin-bottom: 40px;
    }

    .description {
        display: flex;
        max-width: 820px;
        margin: 0px auto;
        flex-direction: row;
    
        .video-wrap {
            min-width: 160px;
            text-align: left;

            img {
                width: 115px;
            }
        }

        .sub-title {
            text-align: left;
            font-weight: $font-weight-regular;
            font-size: $fontpSize1023;
        }
    }

    .wrap-button {
        a {
            margin-top: 30px;
            @include button;
        }
    }
}