.survey-popup-wrap {
  //left: 0;
  right: 0;
  width: 1170px;
  margin: 0 auto;
  &.open{
    right: 5%;
    max-width: 400px;
    max-height: 437px;
    transition: all 0.5s;
  }
}

.survey-popup {
  padding: 91px 30px 33px;
  border-radius: 40px;
  .close {
    width: 55px;
    height: 47px;
    &:after,
    &:before {
      width: 35px;
      height: 3px;
    }
  }
  .logo {
    margin-bottom: 25px;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  p {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
  }
}