//.tabs{
//  .tab-hide{
//	overflow: visible;
//  }
//}
//.table-wrap{
//  overflow: visible;
//}
//
//.wrap-fixed-table {
//  .fixed-table-inner-wrap{
//	overflow: visible;
//  }
//}

.row-hover{
  .descriptions-popup{
	&.open{
	  top: 0px;
	  max-height: 270px;
	}
  }
}