.tabs {
  margin: 50px -40px 50px;
  .tabs-title {
    font-size: 28px;
  }
  .tab {
    .tab-button {
      padding: 15px;
      font-size: 24px;
      &:after {
        right: 15px;
        width: 8px;
        height: 8px;
        border-top: 3px solid;
        border-left: 3px solid;
      }
    }
  }
  .tab-table {
    .tab-cell {
      padding: 15px;
      font-size: 14px;
    }
  }
}