.top-block {
  margin-bottom: 70px;

  .bg-image {
    display: block;

    &.mobile-image {
      display: none;
    }
  }

  .title {
    font-size: 42px;
  }

  .content {
    font-size: 21px;
  }

  .container {
    min-height: 500px;
  }
}

.people-landing {
  .top-block {
    color: #ffffff;

    .container-content {
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      padding-top: 88px;
      padding-bottom: 68px;
      background-color: transparent;

      p {
        &.p1 {
          max-width: 485px;
          font-size: 20px;
          margin-bottom: 74px;
          color: #fff;
          text-align: left;
        }

        &.button-text {
          font-size: 20px;
          margin-bottom: 30px;
          display: block;
        }
      }

      h1,
      h2 {
        margin-bottom: 24px;
        font-size: 42px;
        position: relative;
        top: 0px;
        left: 0px;
      }

      .button-block {
        display: block;
      }
    }
  }

  .key-accomplish {
    padding: 0px 30px;
    padding-top: 90px;
    padding-bottom: 90px;
    .title {
      font-size: $SectionTitle1460;
      font-weight: $font-weight-regular;
      color: $color-blue;
      margin-bottom: 50px;
      line-height: 100%;
    }

    .content_devider {
      @include slickFlexSlider;
    }

    .slider-landing {
      margin-bottom: 0px;

      .slick-slide {
        & > div {
          position: relative;
        }
        li {
           padding: 0px;
           margin: 0px;
           margin-bottom: 10px;

           .image-block {
             height: 60px;
             display: flex;
             align-items: center;
             padding: 0px;
             margin-bottom: 25px;

             img {
               padding-bottom: 0px;
             }
           }

           .image-content {
             padding: 0px 20px;

             p {
               margin: 0 10px;
               font-size: $fontpSize1460;
               font-weight: $font-weight-medium;
               // line-height: 100%;
               // margin-bottom: 15px;

               &.story_sliderTitle {
                 margin-bottom: 5px;
                 font-size: 25px;
                 font-weight: $font-weight-black;
                 color: #1a2c80;
               }

               &.story_sliderSubtitle {
                 font-size: 16px;
                 font-weight: $font-weight-medium;
                 margin: 0px;
                 color: #1a2c80;
                 line-height: normal;
               }
             }
           }
        }

        &:not(:last-child) {
          .image-content {
            border-right: 3px solid $color-dark-blue;
          }

          .image-block {
            &::after {
              content: '';
              background: $color-dark-blue;
              height: 100%;
              position: absolute;
              bottom: 0px;
              width: 3px;
              top: 0px;
              right: 0px;
            }
          }
        }
      }
    }
  }

  /* Stories Section on Landing Page */
  @import "../components/view-stories-sub-section/view-stories-sub-section-1023";

  .landing-loop-topic {
    padding-bottom: 125px;
    .title-topic {
      margin-bottom: 80px;
    }
    .content {
      h2 {
        font-size: $SectionTitle1460;
      }

      .rows-1 {
        .p1 {
          font-size: $fontpSize1460;
          margin-bottom: 108px;
        }
      }
    }

    .sign {
      span {
        font-size: 20px;
      }
    }
  }

  /* Download Section Bottom */
  .landing-download-section {

    .download-container {
      padding: 75px 0px 86px;
      max-width: 800px;

      h2 {
        margin-bottom: 48px;
        font-size: 36px;
      }

      ul {
        list-style-type: none;
        display: block;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        justify-content: space-between;

        li {
          margin-bottom: 20px;
          display: inline-block;
          margin-right: 30px;
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}