.top-block {
  margin-bottom: 30px;
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 0;
  }
  .title {
    position: static;
    margin-bottom: 13px;
  }
  .content {
    padding: 0;
  }
  .container {
    //position: relative;
    z-index: 2;
    min-height: 350px;
    padding-top: 30px;
    padding-bottom: 112px;
  }
}

.people-landing {
  /* Stories Section on Landing Page */
  @import "../components/view-stories-sub-section/view-stories-sub-section-650";
}