.top-block {
  .container {
    min-height: 690px;
    padding-top: 60px;
  }
}

.people-landing {
  .top-block {
    .container-content {
      padding-left: 70px;
    }
  }

  /* Download Section Bottom */
  .landing-download-section {
    .download-container {
      max-width: 1000px;
      ul {
        li {
          .third-button {
            padding: 20px 20px;
            width: 200px;
            font-size: 20px;
          }
        }
      }
    }
  }
}