@import "variables.scss";

.people-landing {
    .top-block {
        .container-content {
            padding-left: 10px;
        }
    }

    /* Download Section Bottom */
    .landing-download-section {

        .download-container {
            @include container;
            padding: 75px 0px 86px;

            h2 {
                margin-bottom: 48px;
                font-size: 36px;
            }

            ul {
                list-style-type: none;
                display: flex;
                padding: 0px;
                margin: 0px;
                justify-content: space-between;

                li {
                    .third-button {
                        padding: 20px 40px;
                        width: 270px;
                        font-size: 24px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}