.video-block {
  &-home {
    margin-bottom: 0px;
  }

  .video-wrap {
    margin-bottom: -10px;
  }

  .play_icon {
    height: 103px;
    width: 103px;
  }
}

.home-video-popup {
  max-width: 700px !important;
  padding: 15px !important;

  .wrap-video,
  iframe {
    width: 100%;
    height: 400px;
  }
}