@import "variables.scss";

.about-one-report {
    .top-block {
        margin-bottom: 0px;

        .container-content {
            max-width: $max-width;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            padding-top: 100px;
            padding-bottom: 30px;
            position: absolute;
            top: 0px;
            left: 0px;

            h1,
            h2 {
                color: $landingPageSectionTitle;
                line-height: 100%;
                margin-bottom: 20px;
                font-weight: $font-weight-bold;
                font-size: 24px;
                max-width: 125px;
                position: absolute;
            }

            p {
                &.p1 {
                    display: none;
                    max-width: 488px;
                    font-size: 20px;
                    font-weight: $font-weight-regular;
                    color: $color-white;
                    text-align: left;
                }
            }
        }

        .mobile-image {
            position: relative;
        }
    }

    .our-approach {
        padding-top: 27px;
        padding-bottom: 0px;
        padding-left: 48px;
        padding-right: 48px;

        .third-button {
            @include button;
            text-align: center;
            cursor: pointer;

            &_hover {
                margin-top: 24px;
            }
        }

        &-title {
            font-size: $SectionTitle;
            font-weight: $font-weight-regular;
            color: $color-blue;
            margin-bottom: 18px;
            line-height: 100%;
        }

        &-desc {
            font-size: $fontpSize;
            margin-bottom: 43px;

            h3 {
                font-weight: $font-weight-black;
                font-size: 28px;
                color: $color-dark-blue;
                margin-top: 45px;
                margin-bottom: 20px;
                line-height: 100%;
            }

            p {
                margin-bottom: 0px;
                color: $sectionTextColor;
                font-size: $fontpSize;
                font-weight: $font-weight-regular;
            }

            .accordions_div {
                margin-top: 30px;
                .tabs {
                    .tabs-title {
                        display: none;
                    }
                    .tab {
                        margin-bottom: 5px;
                        .tab-button {
                            background: $tabBgColor;
                            color: $color-white;
                            padding: 10px 15px;
                            font-size: 20px;

                            &.open {
                                 background: $tabBgColor;
                                 color: $color-white;
                                 margin-bottom: 30px;
                            }  
                            
                            &:after {
                                right: 15px;
                            }
                        }

                        .tab-hide {
                            &.open {
                                margin-bottom: 30px;
                            }
                        }

                        p {
                            text-align: center;
                            padding: 0px 50px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        &-moredetails {
            & > .third-button_hover {
                margin-top: 0px;
                margin-bottom: 50px;
            }
            .our-approach-image {
                margin-bottom: 30px;
            }

            .our-approach-table {
                table {
                    margin-bottom: 0px;

                    thead {
                        tr {
                            th {
                                min-width: 85px;
                                padding: 8px;
                                line-height: 100%;
                                text-align: left;
                                font-weight: $font-weight-medium;
                                color: $tableColor;
                                // border: 2px solid $color-white-blue;
                                border: 2px solid #eaeef1;
                                border-collapse: collapse;

                                &:first-child {
                                    border-left: none;
                                }

                                &:last-child {
                                    border-right: none;
                                }

                                &:not(:first-child) {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                text-align: left;
                                color: $tableColor;
                                font-weight: $font-weight-medium;
                                min-width: 85px;
                                padding: 8px;
                                line-height: 100%;
                                border: 2px solid #eaeef1;
                                border-collapse: collapse;

                                &:first-child {
                                    border-left: none;
                                }

                                &:last-child {
                                    border-right: none;
                                }

                                &:not(:first-child) {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .corporate-report {
        background-color: $backgroud-color;
        padding-top: 36px;
        padding-bottom: 50px;

        .container {
            padding-left: 20px;
            padding-right: 20px;

            .title {
                max-width: 600px;
                margin: 0px auto;
                font-size: $SectionTitle;
                font-weight: $font-weight-regular;
                color: $color-blue;
                margin-bottom: 36px;
                line-height: 100%;
            }

            .corporate_content {
                margin-bottom: 40px;

                &>p {
                    color: $sectionTextColor;
                    font-size: $fontpSize;
                    font-weight: $font-weight-regular;

                    &:not(:last-of-type) {
                        margin-bottom: 30px;
                    }

                    &:empty {
                        display: none;
                    }
                }
            }

            .accordions_div {
                .tabs {
                    margin-left: 0px;
                    margin-right: 0px;

                    .tabs-title {
                        font-size: 15px;
                    }

                    .tabs-content {
                        .tab {
                            .table-wrap {
                                table {

                                    thead,
                                    tbody {

                                        th,
                                        td {
                                            border-width: 1px;
                                            // border-collapse: collapse;
                                        }
                                    }
                                }

                                .tablepress {
                                    background-color: #ffffff;
                                    border: 1px solid #ffffff;
                                }
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0px;
                        .tabs-title {
                            background-color: $landingPageSectionTitle;
                            color: $color-dark-blue;
                        }
                    }
                }
            }

        }
    }

    .global_golas_section {
        padding: 0px;
        padding-top: 39px;
        padding-bottom: 52px;
        max-width: 1180px;

        .global-goals-section-content {
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;

            .title {
                @include sectionTitle;
                padding: 0px;
                margin-bottom: 33px;
            }

            .description {
                padding: 0px 30px;
                margin-bottom: 41px;
                max-width: 100%;

                .video-wrap {
                    display: none;
                }

                .sub-title {
                    color: $sectionTextColor;
                    font-size: $fontpSize;
                    font-weight: $font-weight-regular;
                    padding: 0px;
                    text-align: center;
                }
            }
        }

        .sdg_icons_div {
            margin-bottom: 43px;
            font-size: 0px;
            float: left;
            width: 100%;

            .sdg_icons_img {
                max-width: 292px;
                margin: 0px auto;
                .shareable-image {
                    width: 83px;
                    height: 83px;
                    float: left;
                    margin-bottom: 14px;

                    &:not(:nth-child(3n)) {
                        margin-right: 21px;
                    }
                }
            }            
        }

        .sdg_details_div {
            float: left;
            width: 100%;
            .third-button_hover {
                margin-top: 0px;
                margin-bottom: 40px;
            }
            .sdg_details_content {
                display: block;
                float: left;
                width: 100%;
                font-size: 0px;

                &:not(:last-of-type) {
                    margin-bottom: 66px;
                }

                .shareable-image {
                    width: 190px;
                    height: 190px;
                    margin-bottom: 22px;
                }

                .sdg_details-desc {
                    padding-left: 22px;
                    padding-right: 22px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .sdg_details_title {
                        margin-bottom: 22px;
                        color: $sectionTextColor;
                        font-size: $fontpSize;
                        font-weight: $font-weight-black;
                        padding: 0px;
                        margin-top: 0px;
                        line-height: 100%;
                    }

                    .sdg_details_Subtitle {
                        color: $sectionTextColor;
                        font-size: $fontpSize;
                        font-weight: $font-weight-regular;
                        margin-bottom: 0px;
                    }
                }

            }
        }

        .third-button {
            @include button;
            text-align: center;
            cursor: pointer;
            width: 124px;

            &_hover {
                margin-top: 35px;
            }
        }
    }
    
    .report {
        // padding: 50px 0px;
        // .title {
        //     @include sectionTitle;
        //     margin-bottom: 32px;
        // }
        .report-blocks {
            display: flex;
            flex-direction: column;
            .report-block {
                float: left;
                width: 100%;
                .report-form {
                    .list-checkbox {
                        float: left;
                        .custom-checkbox {
                            width: 100%;
                            float: left;
                            label {
                                &:before,
                                &:after {
                                    margin-top: 0px;
                                }

                                &:after {
                                    top: 4px;
                                }
                            }
                        }
                    }
                    .list-button-section {
                        float: left;
                        width: 100%;
                    }
                }
            }
        }
    }

    .report-about-download {
        padding-top: 43px;
        .title {
            font-weight: $font-weight-black;
            font-size: $SectionTitle;
            margin-bottom: 39px;
            line-height: 100%;
        }

        .report-archive {
            display: block;
            float: left;
            width: 100%;
            .image-wrap {
                margin-top: 0px;
                float: none;
                box-sizing: border-box;
                width: 280px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 26px;
                display: block;
                
                p {
                    text-transform: capitalize;
                }

                &:nth-child(3) {
                    margin-bottom: 58px;
                }

                &:nth-child(n+4) {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    .link-wrap {
                        display: flex;
                        justify-content: center;
                        a {
                            font-weight: $font-weight-black;
                            font-size: $fontpSize;
                            text-decoration: none;
                            display: inline-flex;
                            border-bottom: 1px solid;
                            line-height: 100%;
                            p {
                                margin-left: 5px;
                                margin-right: 0px;
                            }
                        }
                    }
                    
                }

                &:last-child {
                    margin-bottom: 56px;
                }
            }
            
        }
    }
}