.all-page-block {
  background-color: $backgroud-color;
  .description {
    padding: 64px 0 0px;
    text-align: center;

    .title {
      margin-bottom: 25px;
      font-family: $font-family-southwest-sans-w01;
      font-weight: $font-weight-black;
      font-size: 42px;
      color: $color-blue;
    }

    .subtitle {
      font-size: 25px;
      font-weight: $font-weight-bold;
      color: $color-dark-blue;
    }

    span {
      display: inline-block;
      margin-bottom: 25px;
      font-size: 18px;
      color: $color-dark-new-blue;
      margin-top: 10px;
    }
  }
}