.all-stories {
  .container {
    max-width: 1200px;
    padding: 30px 10px 35px;
    transition: 0.5s ease;
    .title {
      position: static;
      text-align: center;
      font-size: 19px;
      color: $color-blue;
      margin-bottom: 5px;
    }
    .content {
      font-size: 16px;
      color: $color-darker-blue;
      padding: 0;
      margin-bottom: 30px;
      p {
        margin: 0;
      }
    }
    .story-column-name {
      position: relative;
      margin-bottom: 0;
      padding: 5px 25px 5px 10px;
      text-align: left;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-white;

      .karat {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto 0;
        width: 7px;
        height: 7px;
        border-top: 2px solid $color-white;
        border-left: 2px solid $color-white;
        transform: rotate(225deg);
        transition: all 300ms linear 0s;
      }
      &.open {
        .karat {
          transform: rotate(45deg);
        }
      }
    }

    .all-stories-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .all-stories-column {
        width: 100%;
        transition: 0.5s ease;

        .stories-mobile {
          display: none;
          flex-direction: column;
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          div {
            display: flex;
            flex-direction: column;
          }
          &:last-child {
            > a {
              &:last-child {
                border-bottom: none;
              }
            }
          }

        }
        &:nth-child(2) {
          //order: -1;
          .stories-mobile{
            //>:nth-child(2) {
            //  order: -1;
            //}
          }
          div {
            > &:nth-child(2) {
              //order: -1;
            }
          }
        }

        .story-key-topic {
          text-align: left;
          padding: 4px 10px;
          background-color: $color-white-blue;
          font-size: 15px;
          font-weight: 700;
        }

        .all-stories-item {
          position: relative;
          display: flex;
          padding: 10px;
          align-items: center;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          color: $color-darker-blue;
          border-bottom: 1px solid $color-gray-white;
          background-color: $color-light-gray;

          img {
            order: -1;
            width: 78px;
            height: 58px;
            transition: 0.5s ease;
            z-index: 10;
          }
          .wrap {
            padding: 0 10px;
            text-align: left;
            p {
              padding: 0;
            }
            span {
              display: block;
              color: $color-blue;
              font-size: 14px;
              text-decoration: underline;
            }
          }
          i {
            position: absolute;
            right: 10px;
            top: 5px;
            font-style: normal;
            font-size: 50px;
            font-weight: 300;
            color: $color-blue;
          }

          &:hover{
            &:after{
              content:"";
              position:absolute;
              top:0;
              right:0;
              bottom:0;
              left:0;
              background-color: $footinfo-color;
              opacity:0.3;
            }
          }
        }
      }
    }
  }
}