.main-button {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #304cb2;
  border-radius: 17px;
  font: $font-weight-black 15px "Southwest Sans W04";
  text-decoration: none;
  color: #304cb2;
  background: #fff;
  text-transform: capitalize;
  &:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    white-space: nowrap;
  }
}

.secondary-button {
  display: inline-block;
  box-sizing: border-box;

  min-width: 250px;
  padding: 15px 20px;
  border: 1px solid $color-blue;
  border-radius: 12px;

  font: $font-weight-bold 15px "Southwest Sans W04";
  text-decoration: none;
  text-transform: capitalize;

  background: $color-blue;
  color: $color-white;

  &:hover {
    border: 1px solid $color-blue;

    background: $color-white;
    color: $color-blue;

    transition: all 0.5s linear 0s;
  }
}

.third-button {
  &:hover,
  &_hover {
    border: 1px solid $color-blue;
    background: $color-white;
    color: $color-blue;
    transition: all 0.5s linear 0s;
  }

  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #304cb2;
  border-radius: 17px;

  font: $font-weight-black 15px "Southwest Sans W04";
  text-decoration: none;
  text-transform: capitalize;

  background: #304cb2;
  color: #fff;

  outline: none;

  &:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    white-space: nowrap;
  }
}

