.custom-checkbox {
  input {
    display: none;
  }
  label {
    position: relative;
    padding-left: 27px;
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
    &:before {
      position: absolute;
      top: 0;
      left: 7px;
      bottom: 0;
      margin: auto 0;

      content: '';
      width: 13px;
      height: 13px;
      border: 1px solid $color-blue;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }

  label:hover {
    &:before {
      background: $color-blue;
      opacity: 0.8;
    }
  }
  input:checked + label{
    &:before {
      background: $color-blue;
      opacity: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 2px;
      width: 7px;
      height: 3px;
      margin: auto 0;
      border-left: 2px solid $color-white;
      border-bottom: 2px solid $color-white;
      transform: rotate(-45deg);
    }
  }
}