.circle-content {
  padding-bottom: 20px;
  .circle {
    position: relative;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 20px;
    margin: 0 auto 30px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: center;

    font-size: 16px;
    font-weight: $font-weight-regular;
    background: $color-white-blue;
    color: $color-dark-blue;
    box-sizing: border-box;
    &.big-circle {
      width: 260px;
      height: 260px;
      padding: 20px;
      color: $color-blue;
      font-weight: $font-weight-regular;
    }
    .number {
      display: block;
      font-size: 32px;
      line-height: 1.1;
      font-weight: $font-weight-light;
    }
    .signature {
      font-size: 14px;
    }
    .wrap-image {
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 80px;
        max-height: 70px;
        margin: auto;
      }
    }
    .inner-circle {
      max-width: 100%;
      z-index: 1;
    }
  }
}
.blue-topic {
  .circle-content {
    .circle {
      background: $color-white;
    }
  }
}