.custom-circle-graph {
  display: none;
  margin-bottom: 15px;
  padding-top: 40px;
  padding-right: 50px;
  .inner-circle-graph {
    position: relative;
    display: inline-block;
  }
  .circle-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 90px;
    transform: translate(-34%,-40%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


    border-radius: 50%;
    border: 3px solid;

    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;

    background: $color-white;
    color: #1A2C80;

    .percent {
      color: #cf0012;
      font-size: 22px;
      font-weight: 500;
    }
  }
  .remainder {
    position: absolute;
    z-index: 4;
    right: -30%;
    bottom: -5%;
    width: 50px;
    height: 50px;
    text-align: left;
    font-size: 11px;
    &:after {
      content: '';
      position: absolute;
      top: 0.5em;
      right: 120%;
      width: 200%;
      border-top: 1px solid;
    }
  }
  .wrap-circle-graph {
    position: relative;
    display: inline-block;
  }
  .inner-text {
    position: absolute;
    top: -2.5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 77%;
    height: 77%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;

    background: $color-white;
    color: #1b2d81;

    & > .wrap-text {
      display: block;
      max-width: 100%;
    }
  }
  svg {
    position: relative;
    z-index: 5;
    width: 55vw;
    height: 55vw;
    max-width: 350px;
    max-height: 350px;
  }
}