.custom-figure {
  .column {
    text-align: center;
    margin-bottom: 40px;
    img {
      width: 100%;
      max-width: 290px;
      margin: 0 auto;
      margin-bottom: 35px;
    }
    .title {
      color: $color-blue;
      font-weight: $font-weight-bold;
      margin-bottom: 15px;
    }
    p {
      margin: 0;
    }
  }
}