.custom-info-block {
  max-width: 100%;
  margin: 0 auto $main-padding-mobile;
  padding: 0 $main-padding-mobile;
  color: $color-dark-blue;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  .number {
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
    font-size: 55px;
    font-weight: $font-weight-light;
    img {
      display: inline-block;
      max-width: 80px;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      //text-overflow: ellipsis;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }
}