.descriptions-popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 49;
  display: none;
  width: 650px;
  max-width: calc(100vw - 40px);
  max-height: 270px;
  margin-top: 16px;
  overflow: auto;
  border-radius: 15px;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: $font-weight-medium;
  cursor: auto;
  text-align: left;
  .descriptions-popup-inner {
    display: flex;
    padding: 15px;
    strong{
      margin-right: 10px;
    }
    a{
      word-break: break-all;
    }
  }
  &.pre-open {
    display: block;
    visibility: hidden;
    margin-left: 0!important;
  }
  &.open {
    display: block;
    color: $color-darker-blue;
  }
  &.scroll {
    border-radius: 15px 0 0 15px;
  }
  b {
    font-weight: $font-weight-black;
  }
  //.footnote-link{
  //  float: left;
  //}
  .descriptions-popup {
    &.open{
    display: none;
    }
  }
}
.background-element {
  display: none;
  &.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index:15;
  }
}