.footnotes {
  padding: 20px 0;

  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #304cb2;
  }

  .footnotes-content {
    font-size: 14px;

    .container {
      margin-bottom: 40px;

      text-align: left;

      .column{
        display: flex;
        padding-top: 20px;

        strong{
          margin-right: 10px;
        }
      }
    }
  }
}