.illustration-holder {
  margin-bottom: 95px;
  text-align: center;
  color: $color-blue;
  img {
    display: block;
    margin-bottom: 15px;
  }
  strong {
    font-family: $font-family-southwest-sans-w01;
  }
}