.image-tile {
  .image-wrap {
    margin-bottom: 10px;
    padding: 20px;
    background: $color-blue;
    .image-tile-title {
      margin-bottom: 15px;
      font-size: 23px;
      font-family: $font-family-southwest-sans-w01;
      color: $color-white;
    }
    img {
      display: block;
      max-height: 140px;
      margin: 0 auto 40px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
    .main-button {
      padding: 13px 45px 13px 10px;
      background: rgba(255, 255, 255, 0.3);
      color: $color-black-blue;
      border: none;
      border-radius: 15px;
      font-size: 14px;
      &:after{
        content: none;
      }
      p{
        &:after {
          content: '';
          display: inline-block;
          width: 7px;
          height: 7px;
          margin-left: 8px;
          border-top: 2px solid;
          border-right: 2px solid;
          transform: rotate(45deg);
          white-space: nowrap;
        }
      }
        &:hover {
        color: $color-white;
        background: $color-black-blue;
      }
    }
  }
}