.image-list {
  padding: 10px;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 0 auto 10px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}