.image-block {
  padding: 20px 0;
  .sign {
    margin-bottom: 30px;
  }
  .inner-image {
    padding: 0;
    list-style: none;
  }
  img {
    display: block;
    margin: 0 auto 30px;
  }
  .container {
    max-width: 1050px;
    padding: 0 10px;
  }
}