.intro {
  position: relative;
  .container {
    padding: 0;
  }
  .bg-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    position: absolute;
    top: 20px;
    left: 10px;
    // max-width: 140px;

    font-weight: $font-weight-light;
    font-size: 23px;
    line-height: 0.8;
    color: #ffc000;
    strong {
      font-size: 38px;
    }
  }
  .description {
    padding: 25px;
    font-size: 15px;
    background: $color-white-blue;

    color: $color-black;
    text-align: center;
    font-weight: $font-weight-medium;
    em {
      display: block;
      margin-top: 10px;
      font-weight: $font-weight-bold;
    }
    h2 {
      font-family: $font-family-southwest-sans-w01;
      font-weight: $font-weight-regular;
      font-size: 25px;
      margin-bottom: 15px;
      strong {
        font-family: $font-family-southwest-sans-w04;
        font-weight: $font-weight-black;
      }
    }
    .wrap-button {
      margin-top: 15px;
    }
    .main-button {
      background: $color-blue;
      color: $color-white;
      &:hover {
        background: $color-white;
        color: $color-blue;
      }
    }
  }
}
.intro-text {
  padding: 25px 30px;
  font-size: 18px;
  text-align: center;
  font-weight: $font-weight-medium;

  background: $color-white-blue;
  color: $color-dark-blue;

  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}