.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  border-radius: 50%;
  background: $color-white;
}

.linear-charts {
  display: table;
  width: 65%;
  margin: 0;
  padding: 0;


  color: #1A2C80;
  list-style: none;
  font-weight: 600;
  line-height: 1.2em;
  li {
    display: table-row;
    text-align: left;
    .name-chart,
    .chart-cell {
      display: table-cell;
      padding: 2px 0;
    }
    .name-chart {
      padding-right: 10px;
      text-align: right;
    }
    .chart-cell {
      width: 100%;
      vertical-align: middle;
    }
  }
  .linear-chart {
    display: block;
    height: 1.2em;
    .inner {
      position: relative;
      display: block;
      height: 100%;
    }
    .number {
      position: absolute;
      top: 0;
      right: 6px;
      bottom: 0;
      color: #fff;
    }
    &.outer-number {
      .number {
        color: #5F7F95;
        right: auto;
        left: 100%;
        margin-left: 10px;
      }
    }
  }
}