.link-list-wrap {
  padding: 30px 0;
  text-align: center;

  .container {
    max-width: 800px;
  }
  &.link-list-blue {
    color: $color-white;
    background: $color-blue;
    a {
      color: $color-white;
    }
  }
  &.link-list-blue-light {
    background: $color-white-blue;
    .title {
      font-size: 40px;
      color: #304cb2;
      font-family: $font-family-southwest-sans-w01;
      font-weight: $font-weight-regular;
    }
    a {
      color: $color-dark-blue;
    }
    ul {
      margin-top: 30px;
    }
  }
  .title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: $font-weight-black;
  }
  a {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:hover {
      color: $color-white;
      background: $color-black-blue;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: 8px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      white-space: nowrap;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
}