.looking-forward {
  .title-looking-forward {
    padding: 30px 0;
    text-align: center;
    background: #1a2c80;
    h2 {
      color: $color-white;
      font-size: 40px;
      font-family: $font-family-southwest-sans-w01;
      font-weight: $font-weight-regular;
    }
    .sub-title {
      color: #5d7e95;
      font-size: 25px;
      font-weight: $font-weight-bold;
      font-family: $font-family-southwest-sans-w04;
    }

    .footnote-link {
      font-size: 30px;
    }
  }
  .title-image {
    width: 100%;
  }
  .list-squares-circles {
    padding: 20px 0;
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 260px;
      height: 260px;
      margin: 0 auto 20px;
      padding: 20px;
      box-sizing: border-box;
      &:nth-child(odd) {
        border-radius: 50%;
        background: $color-yellow;
      }
      &:nth-child(even) {
        background: $color-white-blue;
      }
    }
    .title {
      font-weight: $font-weight-bold;
      color: $color-blue;
    }
    .description {
      font-size: 14px;
      font-weight: $font-weight-regular;
      color: $color-black;
    }
  }
}