.measure {
  .title {
    margin-bottom: 20px;
    color: $color-blue;
  }
  p {
    margin-bottom: 20px;
  }
  .info {
    padding: 30px 0;
  }
  .hide-info {
    display: none;
  }
  .main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 940px;
  }
}