ol {
  counter-reset: li;
  padding: 30px 0;
  margin: 0;
  list-style: none;
  li {
    overflow: hidden;
    display: block;
    position:relative;
    max-width: 300px;
    margin: 0 auto 10px;
    text-align: left;
    &:before {
      float: left;
      content:counter(li);
      counter-increment:li;
      width: 26px;
      height: 26px;
      margin-right: 20px;
      padding-top: 4px;
      background: $color-red;
      vertical-align: middle;
      border-radius: 50%;
      color: $color-white;
      text-align: center;
      box-sizing: border-box;
    }
    & > span {
      float: right;
      width: calc(100% - 46px);
    }
  }
}