.one-report-tabs {
  margin: 43px 0 50px;
  border-bottom: 2px solid $color-silver;

  background: $color-white-blue;

  .container {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    .tabs {
      margin: 0;
      text-align: center;

      .tabs-content-one-report {
        width: 100%;

        .slider-one-report {
          margin: 0 auto;
          padding-top: 10px;

          .slick-prev,
          .slick-next {
            width: 30px;
            height: 30px;

            &:before {
              content: '';
              position: absolute;
              top: 50%;

              display: block;
              width: 30px;
              height: 30px;
            }
            &:hover {
              &:before {
                border-color: $color-blue;
              }
            }
          }

          .slick-prev {
            left: 5px;
            z-index: 1;

            &:before {
              right: 50%;

              border-left: 2px solid $color-black-blue;
              border-top: 2px solid $color-black-blue;

              margin-right: -15px;
              transform: translate(50%, -50%) rotate(-45deg);
            }
          }

          .slick-next {
            right: 5px;

            &:before {
              left: 50%;

              border-right: 2px solid $color-black-blue;
              border-bottom: 2px solid $color-black-blue;

              margin-left: -15px;
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }

          .tab-buttons-wrap {
            position: absolute;
            top: -43px;

            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;

            box-shadow: inset 0 -2px 0  $color-silver;

            list-style: none;

            li {
              box-sizing: border-box;
              display: inline-block;
              padding: 10px 0;
              width: 32%;
              border: 2px solid $color-silver;
              border-radius: 5px 5px 0 0;

              background: $color-dark-gray;
              color: $color-white;

              cursor: pointer;

              &.slick-active {
                border-bottom: 2px solid $color-white-blue;

                color:$color-blue;
                background: $color-white-blue;

                transition: all .2s linear 0s;
              }
            }

            .tab-button-one-report {
              padding: 0;

              font-size: 16px;
              font-weight: $font-weight-bold;
              text-align: center;

              color: inherit;

              cursor: pointer;
              list-style: none;
              outline: none;
            }
          }
        }

        .tab-hide-one-report {
          width: 100%;

          .slider-item {
            display: flex!important;
            flex-direction: column;
            justify-content: center;

            padding: 0 10px;
            margin: 0 auto;

            text-align: center;

            .slider-content {
              justify-content: center;
              box-sizing: border-box;

              padding: 30px;

              overflow: auto;

              h3 {
                margin-bottom: $performance-padding;

                color: $color-blue;

                font-family: "Southwest Sans W01";
                font-size: 32px;
              }

              a {
                display: block;
                color: $color-blue;
                font-size: 14px;
                text-decoration: underline;
                outline: none;
              }
            }

            .area-one {
              .slider-media, .slider-content {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
              }

              .slider-media {
                align-items: flex-start;
                box-sizing: border-box;

                overflow: hidden;

                .wrap {
                  width: 100%;
                  height: 250px;

                  .wrap-video {
                    height: 100%;

                    iframe {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .slider-img {
                    max-width: unset;
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    object-position: center;

                    font-family: 'object-fit: cover; object-position: center;';
                  }
                }
              }

              .slider-content {
                background: $color-white;
              }
            }
          }

          .tab-wrap {
            margin: 30px auto 0;

            .slider-content {
              padding-top: 0;
            }

            .slider-media {
              display: flex;
              justify-content: center;

              .wrap {
                max-width: 250px;
                height: 250px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          .wrap-button {
            padding: 30px 0;
          }
        }
      }
    }
  }
}