.quote {
  padding: 20px;
  color: $color-white;
  background: $color-red;
  q {
    display: block;
    margin-bottom: 15px;
    font-family: $font-family-southwest-sans-w01;
    font-size: 20px;
    font-weight: $font-weight-light;
  }
  img {
    border-radius: 50%;
    max-width: 200px;
  }
  .sing {
    text-align: right;
  }
}
.inner-half {
  .quote {
    .sing {
      margin-bottom: 15px;
    }
  }
}
.testimonial-block .quote {
  background: $color-blue;
}