.reporting {
  padding: $main-padding-mobile 0;

  color: $color-white;
  background: $color-dark-blue;

  .title {
    font-size: 40px;
    font-family: $font-family-southwest-sans-w01;
    font-weight: $font-weight-regular;
  }
  .sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: $font-weight-bold;
  }
}