.service {
  padding: 50px 0;

  .title {
    margin-bottom: 30px;

    font-family: $font-family-southwest-sans-w01;
    font-size: 40px;
    font-weight: $font-weight-regular;
    text-align: center;

    color: $color-blue;
  }
  .sub-title {
    color: #5d7e95;
    font-weight: $font-weight-bold;
  }
  .date {
    color: $color-blue;
  }
  .code {
    font-size: 20px;
    margin-right: 5px;
    font-weight: $font-weight-black;
  }
  .city {
    font-weight: $font-weight-medium;
  }
  &.wrap-image-list {
    background: #eaeef1;
  }
  &.reports-download {
    text-align: center;

    p {
      max-width: $max-width-content;
      margin: 0 auto;
    }
  }
  
  &.section-success {
    .container {
      max-width: 900px;
    }
    .succses-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .success-aside{
        display: flex;
        flex-direction: column;
        .images{
          margin: 0 auto;
          max-width: 171px;
          max-height: 171px;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 2;
          img{
            object-fit: cover;
          }
        }
      }
      .success-center{
        margin: 20px 0;
      }
      .center-image{
        width: 309px;
        height: 309px;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 2;
          object-fit: cover;
        }
        h4{
          transform: translateY(-149px);
          z-index: 3;
          position: relative;
          font-size: 43px;
        }
        //&:before,&:after{
        //  content: "";
        //  width: 70%;
        //  height: 2px;
        //  display: block;
        //  position: absolute;
        //  background-color: #5e7e95;
        //  top: 48%;
        //  z-index: 1;
        ////}
        //&:before{
        //  left: -50%;
        //}
        //&:after{
        //  right: -50%;
        //}
      }
      h4{
        max-width: 259px;
        color: $color-red;
        text-align: center;
        font-size: 47px;
        font-weight: 400;
        margin: 0 auto;
        line-height: 1;
      }
      p{
        color:$color-dark-blue;
        font-size: 18px;
        font-weight: 600;
        max-width: 170px;
        text-align: center;
        margin: 10px auto 0;
      }
    }
  }

  &.section-awards {
    background: $sectionWhiteBGColor;
    padding: 30px 0px 25px;

    h2 {
      @include sectionTitle;
      margin-bottom: 25px;
    }

    .image-list {
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  &.footview-service {
    padding-top: 35px;
    padding-bottom: 35px;

    .title {
      margin-bottom: $marginb30 - 15px;
      line-height: 100%;
      font-size: $SectionTitle;
    }

    .sub-desc {
      font-weight: $font-weight-regular;
      font-size: $fontpSize;
      color: $sectionTextColor;
    }
  }
}