.service-info-title {
  .container {
    padding: 0 10px;
  }
  h2 {
    padding: 12px 0;
    font-size: 30px;
    font-weight: $font-weight-black;
    text-align: center;
    a {
      position: relative;
      padding-right: 26px;
      text-decoration: none;
      color: $color-blue;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 7px;
        height: 7px;
        margin: auto 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(45deg);
        white-space: nowrap;
      }
    }
  }
}
.service-info {
  .container {
    max-width: 1232px;
    padding: 0 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .service-info-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 200px;
    padding: 20px;

    font-size: 18px;
    background-size: cover;
    background-position: center;
    color: $color-white;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+73,000000+100&0+38,0.65+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 38%, rgba(0,0,0,0.37) 73%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.37) 73%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 38%,rgba(0,0,0,0.37) 73%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .page-tag {
      position: absolute;
      top: 20px;
      left: 20px;
      padding: 5px 9px;

      font-size: 12px;
      font-weight: $font-weight-black;
      text-transform: uppercase;
      background-color: $color-black;
    }
    .title {
      display: none;
    }
    
    &:hover{
      .title{
        transition: none !important;
      }
    }
  }
}