.sign {
  display: block;
  text-align: center;
  color: $color-white;
  span {
    display: inline-block;
    padding: 10px 20px;

    font-weight: $font-weight-black;
    font-size: 18px;
    text-transform: uppercase;

    background: $color-blue;
  }
}
.separate {
  border-top: 2px solid $color-white-blue;
  span {
    margin-top: -2px;
  }
}