@import "../variables";
$performance-padding: 30px;

.slider-section {
  overflow: hidden;
  margin: 0 auto;
  padding: $performance-padding;

  background: $color-white-blue;
  background-size: cover;

  h2 {
    margin-bottom: $performance-padding;
    color: $color-blue;
    font-weight: $font-weight-regular;
    text-align: center;
    line-height: 100%;
    padding: 0px 100px;
  }

  .slider {
    .slick-list {
      z-index: 16;
      .slick-slide {
        .background_image_div {
          width: 100%;
          background-size: 100%;
          padding: 50px 0px 72px;
        }
      }
      // overflow: visible !important;
    }

    // .slick-slide {
    //   opacity: 0;
    // }

    // .slick-active {
    //   opacity: 1;
    // }

    .slick-arrow {
      z-index: 17;

      width: 30px;
      height: 30px;

      &.under {
        z-index: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;

        display: block;
        width: 12px;
        height: 12px;
      }

      &:hover {
        &:before {
          border-color: $color-blue;
        }
      }

      &.slick-prev {
        left: 10px;
      }
      &.slick-next {
        right: 10px;
      }
    }

    .slick-prev {
      &:before {
        right: 50%;

        border-left: 2px solid $color-black-blue;
        border-top: 2px solid $color-black-blue;

        margin-right: 0px;
        transform: translate(50%, -50%) rotate(-45deg);
      }
    }

    .slick-next {
      &:before {
        left: 50%;

        border-right: 2px solid $color-black-blue;
        border-bottom: 2px solid $color-black-blue;

        margin-left: 0px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .slider-item {
      font-family: "Southwest Sans W01";
      text-align: center;

      .descriptions-popup {
        max-height: 200px;
      }

      p {
        margin: 0 10px;
        font-size: $fontpSize1460;
        font-weight: $font-weight-regular;
        // line-height: 100%;
        // margin-bottom: 15px;

        &.story_sliderTitle {
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: $font-weight-black;
          color: #1a2c80;
          line-height: 100%;
        }

        &.story_sliderSubtitle {
          font-size: 16px;
          font-weight: $font-weight-medium;
          margin: 0px;
          color: #1a2c80;
          line-height: normal;
        }
      }

      h3 {
        margin-bottom: $performance-padding;

        color: $color-dark-blue;

        font-size: 32px;
        font-weight: $font-weight-black;
      }

      .wrap-button {
        text-align: center;
        // padding: $performance-padding 0;

        a {
          @include button;
          margin-top: 0px;

          &::after {
            display: none;
          }
        }

      }

      .image-list {
        display: flex;
        padding: 0px;
        margin-top: 35px;
        flex-direction: column;

        li {
          padding-bottom: 0px;
          padding: 0px;
          margin-bottom: 30px;

          .image-block {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0px;
            margin-bottom: 0px;

            img {
              padding-bottom: 0px;
              height: 25px; 
            }
          }

          .image-content {
            // height: 80px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
          }
        }
      }
    }
  }

  &.sliderSectionHomePage {
    padding: 0px;

    .slick-slider {
      margin-bottom: 0px;

      .slidertoptitle {
        h2 {
          font-size: $SectionTitle;
          padding: 0px;
          max-width: 267px;
          margin-left: auto;
          margin-right: auto;
        }

        .slider-text {
          font-size: $fontpSize;
          font-weight: $font-weight-regular;
          color: $sectionTextColor;
        }
      }

      .slick-dots {
        bottom: 25px;
        z-index: 9999;
      }

      .slick-list {
        .slick-slide {
          .background_image_div {
            background-size: cover;
            flex-grow: 100;
            background-position: center;
          }
        }
      }
    }

    @include slickFlexSlider;
  }
}