div.a2a_vertical_style {
  padding: 0;
  a {
    padding: 0;
  }
  .a2a_svg {
    width: 46px;
    height: 46px;
    border-radius: 0;
    svg {
      width: 20px;
      margin: 13px;
    }
  }
}
div.addtoany_list {
  a {
    padding: 0;
  }
  .a2a_svg {
    border-radius: 0 !important;
  }
  svg {
    margin: 3px;
    width: 20px;
  }
  .addtoany_no_icon {
    padding-left: 6px;
    color: $color-black;
    text-decoration: none;
  }
}
.a2a_floating_style {
  display: none;
}
div.addtoany_list a img {
  height: 32px;
}
div.a2a_vertical_style a img {
  display: block;
}