.square-info {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 $main-padding-mobile;
  margin: 0 auto 20px;

  text-align: center;

  .square-info-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrap-img {
    width: 100%;
    height: 300px;
  }

  .image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    font-family: 'object-fit: cover; object-position: center;';
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background: $color-white-blue;

    .info-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 230px;
      padding: 30px;
      border-radius: 50%;
      box-sizing: border-box;

      text-align: center;
      font-weight: $font-weight-bold;

      color: $color-white;
      background: $color-dark-blue;

      span {
        display: block;
        max-width: 100%;
      }
    }

    .number {
      font-size: 70px;
      line-height: 1.1;
      font-weight: $font-weight-light;

      color: $color-yellow;
    }
  }
}