@import "variables.scss";

.story {
  .promo-img {
    position: relative;
    margin-bottom: 25px;
    min-height: 100px;
    img {
      display: block;
      width: 100%;
    }
    .main-button {
      position: absolute;
      left: 20px;
      bottom: 20px;
      padding: 10px 10px 10px 20px;
      border-radius: 10px;
      font-size: 14px;
      &:after {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        margin: auto 0;
        transform: rotate(-135deg);
        width: 8px;
        height: 9px;
      }
    }
  }
  .container {
    //max-width: 600px;
    max-width: 800px;
    margin-bottom: 40px;
    &:after {
      content: '';
      clear: both;
      display: block;
      height: 0;
    }
  }
  .page-tag {
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: $font-weight-black;
    text-transform: uppercase;
    color: $color-white;
    text-shadow: 0 0 1px $color-gray;
  }
  p {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 20px;
    font-weight: $font-weight-black;
    color: $color-dark-blue;
    font-size: 25px;
  }
  .intro {
    font-size: 20px;
    color: $color-blue;
  }
  .story-nav {
    display: flex;
    justify-content: center;
    max-width: 780px;
    margin: 0 auto 50px;
    padding: 0 10px;
    clear: both;
    box-sizing: border-box;
    .wrapper-related {
      display: flex;
      flex-direction: column;
      width: 50%;
      &.prev-story{
        margin-right: 15px;
      }
      &.next-story{
        margin-left: 15px;
      }
      .prev {
        align-self: flex-end;
      }
      .prev-info {
        align-self: flex-end;
        .related-image{
          order: -1;
        }
      }
      .next {
        align-self: flex-start;
      }
      .related-info {
        display: flex;
        margin-top: 15px;
        width: 100%;
        flex-direction: column;

        .related-text {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 10px;
          .page-tag {
            margin-bottom: 0;
            font-size: 10px;
          }
          span {
            padding: 0;
          }
        }
        .related-text-prev {
          margin-right: 10px;
          span {
            text-align: right;
          }
        }
        .related-image {
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          height: 64px;
          margin-bottom: 10px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .next-info {
        .related-image {
          order: -1;
        }
      }
    }
    .main-button {
      position: relative;
      display: inline-block;
      padding: 10px 30px 10px 10px;
      min-width: 120px;
      max-width: 100%;
      font-size: 14px;
      border-radius: 15px;
      text-decoration: none;
      box-sizing: border-box;
      text-align: center;
      &:after {
        position: absolute;
        top: 0;
        right: 9px;
        bottom: 0;
        margin: auto 0;
      }
      &.prev {
        padding: 10px 10px 10px 27px;
        &:after {
          left: 9px;
          right: auto;
          transform: rotate(-135deg);
        }
      }
    }
  }
  .inner-block {
    padding: 20px;
    margin: 0 -20px 20px;
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $color-dark-blue;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    .accent {
      color: $color-light-blue;
    }
  }
  .wrap-video {
    margin: 0 -20px;
  }
  .video {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 230px;
  }
  .inner {
    margin: 0 -20px 20px;
    & > img {
      display: block;
      margin: 0 auto;
    }
  }
  ul {
    padding-left: 40px;
  }

  /* Stories Page */
  &-page {
    .promo-img {
      margin-bottom: 28px;

      .main-button {
        left: 15px;
      }
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__content {
      .page-tag-wrap_top {
        float: left;
        width: 100%;
        border-bottom: 4px solid #dae1e6;
        padding-bottom: 30px;
        margin-bottom: 40px;

        .sdg_images_div {
          font-size: 14px;
          width: 100%;
          float: left;
          margin-bottom: 36px;
          @include storyTop;

          .sdg_images {
            font-size: 0px;
            margin-top: 4px;

            img:not(:last-child) {
              margin-right: 10px;
            }
          }
        }

        .gri_div {
          font-size: 14px;
          width: 50%;
          float: left;
          @include storyTop;

          h5 {
            margin-bottom: 10px;
          }

          ul {
            list-style: none;
            padding-left: 0px;

            li {
              color: $color-blue;
              font-weight: $font-weight-black;
              line-height: 100%;

              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
          }
        }

        .sasb_div {
          width: 50%;
          font-size: 14px;
          float: left;
          @include storyTop;

          h5 {
            margin-bottom: 10px;
          }

          ul {
            list-style: none;
            padding-left: 0px;

            li {
              color: $color-yellow;
              font-weight: $font-weight-black;
              line-height: 100%;

              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }

    .wrap-video {
      margin-left: 0px;
      margin-right: 0px;
    }

    .inner {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}


.stories {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  .container {
    padding: 0;
  }
  h2 {
    &.title {
      border-top: 1px solid #d7dfe5;
      padding: 42px 0 0;
      margin-bottom: 45px;
      color: #1a2c80;
      text-align: center;
    }
  }
  .service-info {
    margin-bottom: 55px;
  }
  .wrap-button {
    margin-bottom: 50px;
    text-align: center;
  }
}