@import "../variables";

.global_golas_section {
    padding: 30px 0px 30px;

    h2 {
        @include sectionTitle;
        margin-bottom: 30px;
    }

    .description {
        display: flex;
        max-width: 820px;
        margin: 0px auto;
         flex-direction: column;
        
        .video-wrap {
            min-width: 160px;
            text-align: center;
            margin-bottom: 30px;
            
            img {
                width: 115px;
            }
        }

        .sub-title {
            text-align: center;
            font-weight: $font-weight-regular;
            color: $sectionTextColor;
            font-size: $fontpSize;
            padding: 0px 50px;
        }
    }

    .wrap-button {
        a {
            margin-top: 30px;
            @include button;
        }
    }
}