.survey-popup-wrap {
  display: none;
  position: fixed;
  //top: 70px;
  width: 400px;
  max-width: 90%;
  right: 5%;
  z-index: 16;
  &.open {
    display: block;
    bottom: 10px;
  }
}
.form-leave-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  display: none;
  background: rgba(0, 0, 0, 0.6);
  &.open {
    display: block;
  }
  .survey-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 526px;
    height: 300px;
    padding: 40px 45px 32px;
    margin: auto;
    h1 {
      margin-bottom: 49px;
    }

    .logo {
      margin-bottom: 10px;
    }
    .wrap-button {
      display: flex;
      justify-content: space-between;
    }
    .popup-button {
      padding: 11px 48px 11px 27px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: $color-blue;
        background: $color-white;
      }
    }
  }
}
.survey-popup {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 400px;
  max-width: 100%;
  padding: 70px 15px 15px;
  border-radius: 30px;
  box-sizing: border-box;
  background: $color-blue;
  &.open {
    display: block;
  }
  .popup-button {
    display: inline-block;
    padding: 12px 33px;
    border-radius: 14px;
    border: 1px solid $color-white;
    background: transparent;
    color: $color-white;
    font-size: 18px;
    font-weight: $font-weight-black;
    cursor: pointer;
    &:hover{
      color: $color-blue;
      background: $color-white;
    }
  }
  .popup-link {
    position: relative;
    padding-right: 65px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0;
      right: 34px;
      margin: auto 0;
      width: 7px;
      height: 7px;
      border-top: 2px solid $color-white;
      border-left: 2px solid $color-white;
      transform: rotate(135deg);
    }
    &:hover{
      &:before {
        border-top:2px solid $color-blue;
        border-left:2px solid $color-blue;
      }
    }
  }
  .close {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 40px;
    height: 35px;
    padding: 0;
    box-sizing: border-box;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 22px;
      height: 2px;
      margin: auto;
      transform: rotate(45deg);
      background: #fff;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover{
      &:after,
      &:before {
        background: $color-blue;
      }
    }
  }
  .logo {
    margin-bottom: 20px;
    img {
      max-width: 100%;
      max-height: 32px;
    }
  }
  h1 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: $font-weight-black;
    color: #ffbf27;
  }
  p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: $font-weight-light;
    color: #fff;
  }
  .wrap-button {
    display: block;
  }
}