.system-map {
  padding: 35px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: $font-weight-light;
  color: $color-white;
  text-align: center;
  a {
    color: $color-white;
  }
  p {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    font-size: 14px;
  }
  .title {
    font-family: $font-family-southwest-sans-w01;
    font-weight: $font-weight-regular;
  }
  .date {
    margin-bottom: 7px;
  }
  .map {
    margin-bottom: 35px;
  }
  .blue-text {
    color: $color-dark-blue;
  }
  .circle {
    width: 260px;
    height: 260px;
    margin: 20px auto 0;
    border-radius: 50%;
    background: $color-white;
  }
}