.table-wrap {
  text-align: left;
  .colspan-cell {
    background: #eaeef1;
    text-align: left;
    td{
      background-color:$color-white;
    }
  }
  table {
    font-size: 14px;
  }
  thead {
    th {
      text-align: right;
      &:first-child {
        text-align: left;
      }
    }
  }
  tbody {
    td {
      border-left:1px solid #ddd;
      text-align:right;
      &:first-child {
        border-left:none;
        text-align:left;
      }
    }
    tr {
      .column-2{
        background-color: $color-white;
      }
    }
  }
  td.column-1.colspan-cell.rowspan-cell{
   padding: 0 0 10px;
    background:#EBE9E9;
    &:after{
      content:'';
      background:#EBE9E9;
      position:absolute;
      padding: 5px 0;
      width:100%;
    }
  }
  table thead {
    th {
      border-left: 1px solid $color-white;
      background: $color-silver ;
      &:first-child {
        border-left: none;
      }
    }
  }
  .tablepress-table-name,
  .tablepress-table-description{
    padding-top: 7px;
    background: $color-blue;
    color: $color-white;
    text-align: center;
  }
  .tablepress-table-description {
    padding-top: 0;
    padding-bottom: 7px;
    .fin-nav {
      display: block;
      text-align: right;
      font-size: 16px;
      line-height: 33px;
      padding: 0 5px;
      span {
        line-height: 33px;
        vertical-align: middle;
      }
      .arrow {
        display: inline-block;
        font-size: 33px;
        line-height: 1;
        padding: 0 1px;
        margin: 0 1px;
        cursor: pointer;
      }
    }
  }
  .inner-cell {
    max-width: calc(100vw - 60px);
  }
}

#section-gri .table-wrap {
  tbody {
    td,
    th {
      text-align: left;
    }
  }
}

.wrap-fixed-table {
  position: relative;
  .fixed-table-inner-wrap {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    &:first-child {
      position: absolute;
      overflow: hidden;
      z-index: 5;
      tbody {
        visibility: hidden;
        td {
          border-color: #fff;
        }
      }
    }
    &:nth-child(2) {
      position: absolute;
      height: calc(100% - 9px);
      overflow: hidden;
      tr {
        td {
          position: relative;
          visibility: hidden;
          z-index: -1;
          border-color: #fff;
          &:first-child {
            z-index: 4;
            visibility: visible;
            background: #fff;
            border-color: #dddddd;
            &:after {
              content: '';
              position: absolute;
              top: -1px;
              left: 0;
              right: -1px;
              bottom: 0;
              border-bottom: 1px solid #dddddd;
              border-right: 1px solid #dddddd;
            }
            &.colspan-cell {
              background: #eaeef1;
            }
          }
        }
        &:last-child {
          td {
            &:after {
              border-bottom: none;
            }
          }
        }
      }
    }
    .tablepress {
      margin-right: 10px;
    }
  }

  .scroll {
    position: absolute;
    left: 0;
    right: 0;
    //bottom: 0;
    top: 0;
    //z-index: 3;
  }
  &.fix-element {
    .fixed-table-inner-wrap {
      &:first-child {
        position: fixed;
        top: $header-height-mobile;
        left: 0;
        right: 0;
        margin: 0 auto;
        tbody {
          visibility: hidden;
          td {
            border-color: #fff;
          }
        }
      }
    }
  }
}

.row-hover{
  .descriptions-popup{
    &.open{
      top: -110px;
      max-height: 125px;
    }
  }
}

.section-data-table {
  &.tablepress {
    .row-hover tr .column-2 {
      background: #DAE1E6;
    }
    tbody td,
    tfoot th {
      border: none;
    }
    .colspan-cell {
      padding: 1px 0 0;
      background: #000;
    }
  }
}