.tabs {
  margin: 0 -20px 30px;
  text-align: left;
  .tabs-title {
    padding: 7px;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    background: $color-blue;
    font-weight: $font-weight-black;
    text-align: center;
  }
  .tab {
    .tab-button {
      position: relative;
      padding: 7px;
      font-weight: $font-weight-black;
      background: $color-gray;
      color: $color-black-blue;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 7px;
        bottom: 0;
        width: 5px;
        height: 5px;
        margin: auto 0;
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(225deg);
      }
      &.open {
        background: $color-white;
        color: $color-black;
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .tab-table {
    display: table;
    width: 100%;
    border-top: 1px solid $color-white;
    .tab-row {
      display: table-row;
      &.tab-title {
        background: $color-silver;
        font-weight: $font-weight-black;
        .tab-cell {
          border-left-color: $color-white;
          &:last-child {
            border-right-color: $color-lighten-blue;
          }
          &:first-child {
            border-left-color: $color-lighten-blue;
          }
        }
      }
    }
    .tab-cell {
      padding: 5px;
      display: table-cell;
      border-left: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
      font-size: 14px;
      &:last-child {
        border-right: 1px solid $color-gray;
      }
    }
  }
  .tab-hide {
    display: none;
    overflow: visible;
    font-size: 14px;
  }
  .tab-min-cell {
    width: 17%;
  }
  .tabs-content {
    .tab:nth-child(even) {
      .tab-button {
        background: #eff2f4;
      }
    }
  }
}