.top-block {
	position: relative;
	text-align: center;
	color: $color-black-blue;

	.bg-image {
		display: none;
		min-height: 250px;
		box-sizing: border-box;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&.mobile-image {
			display: block;
			min-height: inherit;
		}
	}

	.title {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		font-weight: $font-weight-black;

		&.animate-element {
			transition: all .3s linear 0s;
		}
	}

	.container {
		.animate-element {
			&.content {
				transition: all .3s linear 0s;
			}
		}
	}

}

.content {
	padding: 25px 0;
}

.people-landing {
	.top-block {
		color: #ffffff;
		margin-bottom: 0px;

		.bg-image {
			&.mobile-image {
				font-size: 0px;
				position: relative;
			}
		}

		.container-content {
			max-width: 1185px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: left;
			padding-top: 30px;
			padding-bottom: 30px;
			min-height: inherit;
			background-color: $backgroud-color;

			p {
				&.p1 {
					max-width: 100%;
					font-size: 14px;
					margin-bottom: 0px;
					font-weight: $font-weight-regular;
					color: $sectionTextColor;
					text-align: center;
				}

				&.button-text {
					font-weight: $font-weight-medium;
					font-size: 20px;
					margin-bottom: 30px;
					display: none;
					max-width: 485px;
				}
			}

			h1,
			h2 {
				color: $landingPageSectionTitle;
				line-height: 100%;
				margin-bottom: 24px;
				font-weight: $font-weight-black;
				font-size: 24px;
				position: absolute;
				text-align: left;
				top: 24px;
				left: 10px;
			}

			.button-block {
				display: none;

				.wrap-button:not(:nth-last-child(1)) {
					margin-bottom: 15px;
				}

				.third-button {
					@include button;
					text-align: center;
				}
			}

			&>.content {
				padding: 0px;
			}
		}
	}

	.key-accomplish {
		padding: 0px 30px;
		padding-top: 35px;
		padding-bottom: 90px;

		.title {
			font-size: $SectionTitle;
			font-weight: $font-weight-regular;
			color: $color-blue;
			margin-bottom: 15px;
			line-height: 100%;
		}

		.slider-landing {
			margin-bottom: 0px;

			.slick-slide {
				li {
					padding: 0px;
					margin: 0px;
					margin-bottom: 10px;
					max-width: 100%;

					.image-block {
						height: 60px;
						display: flex;
						align-items: center;
						padding: 0px;
						margin-bottom: 25px;

						img {
							padding-bottom: 0px;
						}
					}

					.image-content {
						padding: 0px 20px;

						p {
							margin: 0 10px;
							font-size: $fontpSize1460;
							font-weight: $font-weight-medium;
							// line-height: 100%;
							// margin-bottom: 15px;

							&.story_sliderTitle {
								margin-bottom: 5px;
								font-size: 20px;
								font-weight: $font-weight-black;
								color: #1a2c80;
								line-height: 100%;
							}

							&.story_sliderSubtitle {
								font-size: 20px;
								font-weight: $font-weight-medium;
								margin: 0px;
								color: #1a2c80;
								line-height: normal;
							}
						}
					}
				}
			}

			.slick-dots {
				left: 0px;
				bottom: -30px;

				li {
					padding: 0px;
				}
			}

			.slick-arrow {

				&.slick-prev {
					left: -6px;
				}

				&.slick-next {
					right: -20px;
				}
				&.slick-next:before {
					content: "";
					right: 0%;
					border-right: 2px solid #111b40;
					border-bottom: 2px solid #111b40;
					margin-left: -15px;
					-webkit-transform: translate(-50%, -50%) rotate(-45deg);
					-ms-transform: translate(-50%, -50%) rotate(-45deg);
					-o-transform: translate(-50%, -50%) rotate(-45deg);
					transform: translate(-50%, -50%) rotate(-45deg);
					position: absolute;
					top: 50%;
					display: block;
					width: 12px;
					height: 12px;
				}

				&.slick-prev:before {
					content: "";
					left: 0%;
					border-left: 2px solid #111b40;
					border-top: 2px solid #111b40;
					margin-right: -15px;
					-webkit-transform: translate(50%, -50%) rotate(-45deg);
					-ms-transform: translate(50%, -50%) rotate(-45deg);
					-o-transform: translate(50%, -50%) rotate(-45deg);
					transform: translate(50%, -50%) rotate(-45deg);
					transform: translate(-50%, -50%) rotate(-45deg);
					position: absolute;
					top: 50%;
					display: block;
					width: 12px;
					height: 12px;
				}
			}
		}
	}

	/* Stories Section on Landing Page */
	@import "../components/view-stories-sub-section/view-stories-sub-section";

	.landing-loop-topic {
		padding-bottom: 35px;
		.title-topic {
			margin-bottom: 30px;
		}

		.content {
			padding-top: 0px;
			padding-bottom: 0px;

			h2 {
				font-size: $SectionTitle;
				color: $color-blue;
				line-height: 100%;
			}

			.rows-1 {
				.p1 {
					font-weight: $font-weight-regular;
					font-size: $fontpSize;
					color: $sectionTextColor;
					margin-bottom: 35px;
				}
			}
		}

		.sign {
			span {
				color: $landingPageTopicColor;
				background-color: $landingPageTopicBGColor;
				text-transform: capitalize;
				font-size: 12px;
				font-weight: $font-weight-black;
			}
		}
	}

	/* Download Section Bottom */
	.landing-download-section {
		background-color: $downloadBGSection;

		.download-container {
			@include container;
			padding: 55px 0px 83px;

			h2 {
				text-align: center;
				color: $color-dark-blue;
				margin-bottom: 60px;
				font-weight: $font-weight-black;
				font-size: 24px;
				line-height: 100%;
			}

			ul {
				list-style-type: none;
				display: block;
				padding: 0px;
				margin: 0px;
				justify-content: space-between;

				li {
					text-align: center;

					.third-button {
						text-align: center;
						padding: 20px 40px;
						width: 270px;
						box-sizing: border-box;
						border-radius: 10px;
						font-size: 24px;
						font-weight: $font-weight-bold;
						line-height: 100%;
						background-color: $color-dark-blue;
						border: 1px solid $color-dark-blue;
						color: #fff;

						&:hover {
							background-color: #fff;
							color: $color-dark-blue;
						}

						&:after {
							display: none;
						}
					}

					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	.year-summary {
		margin-top: 30px;
	}
}