.topic {
  padding-bottom: 50px;
  overflow: hidden;
  .title-topic {
    position: relative;
    margin-bottom: 15px;
    img {
      display: block;
      width: 100%;
    }
  }
  .content {
    padding-bottom: 50px;
    .container {
      max-width: 980px;
    }
    h2 {
      margin-bottom: 25px;
      text-align: center;
      font-size: 30px;
      font-weight: $font-weight-regular;
      color: $color-blue;
    }
    p {
      margin: 0 0 15px;
    }
  }
  &.blue-topic {
    background: $color-white-blue;
  }
}