// .video-block {
//   width: 100%;

//   .container {
//     max-width: 1200px;
//     padding: 0 4vw;
//   }

//   .wrap-video {
//     width: 100%;
//     height: $video-height;

//     line-height: 0;

//     iframe {
//       width: 100%;
//       height: 100%;

//       line-height: 0;
//     }
//   }
// }


.video-block-home {
  position: relative;

  .video-wrap {
    margin-bottom: -10px;
    
    .shareable-image {
      width: 100%;
    }
  }

  .play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
  }
}


.home-video-popup {
  max-width: 400px !important;
  padding: 15px !important;

  .wrap-video,
  iframe {
    width: 100%;
    height: 210px;
  }
}