@import "variables.scss";

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Black.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Black.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Black.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Black.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-black;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-BlackIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-BlackIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-BlackIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-BlackIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-black;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Bold.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Bold.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Bold.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Bold.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-BoldItalic.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-BoldItalic.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-BoldItalic.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-BoldItalic.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-bold;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Italic.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Italic.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Italic.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Italic.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-regular;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Light.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Light.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Light.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Light.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-LightIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-LightIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-LightIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-LightIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-LightIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-light;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Medium.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Medium.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Medium.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Medium.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-MediumIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-MediumIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-MediumIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-MediumIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-MediumIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-medium;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w01;
  src: url('#{$path-fonts}/SouthwestSansW01-Regular.eot');
  src: url('#{$path-fonts}/SouthwestSansW01-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW01-Regular.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW01-Regular.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW01-Regular.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Black.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Black.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Black.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Black.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-black;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-BlackIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-BlackIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-BlackIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-BlackIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-black;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Bold.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Bold.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Bold.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Bold.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-BoldItalic.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-BoldItalic.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-BoldItalic.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-BoldItalic.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-bold;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Italic.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Italic.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Italic.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Italic.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-regular;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Light.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Light.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Light.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Light.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-LightIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-LightIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-LightIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-LightIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-LightIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-light;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Medium.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Medium.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Medium.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Medium.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-MediumIt.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-MediumIt.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-MediumIt.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-MediumIt.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-MediumIt.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-medium;
  font-style: italic;
}

@font-face {
  font-family: $font-family-southwest-sans-w04;
  src: url('#{$path-fonts}/SouthwestSansW04-Regular.eot');
  src: url('#{$path-fonts}/SouthwestSansW04-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/SouthwestSansW04-Regular.woff') format('woff'),
  url('#{$path-fonts}/SouthwestSansW04-Regular.ttf') format('truetype'),
  url('#{$path-fonts}/SouthwestSansW04-Regular.svg#fontawesomeregular') format('svg');
  font-weight: $font-weight-regular;
  font-style: normal;
}