@import "variables.scss";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  font: $font-weight-regular 15px/1.3 $font-family-southwest-sans-w04, Arial;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust:    none;
  -ms-text-size-adjust:     none;
  text-size-adjust:         none;
  &.open{
  overflow:hidden;
}
}

ul {
  margin: 0;
}

.container {
  width: 100%;
  max-width: $max-width;
  padding: 0 $main-padding-mobile;
  margin: 0 auto;

  box-sizing: border-box;

  &-content {
    max-width: $max-width-content;

    text-align: center;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type='text'],
input[type='search'] {
  border-radius: 0;
  -webkit-appearance: none;
}
.table-wrap {
  width: 100%;
  overflow: auto;
  max-width: 100%;
  box-sizing: border-box;
}
.footnote-link {
  position: relative;
  display: inline-block;
  font-size: 0.6em;
}
a.ga-footnote {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
  color: #091b3e;
  padding-right: 5px;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.i-phone {
  -webkit-overflow-scrolling: touch;
  .stop-scroll {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
}
.stop-scroll {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}
#wpadminbar{
  position: fixed !important;
}

.js-z-index{
  z-index: 30 !important;
  transition:all .5s linear 0s !important ;
}

//side social icons
.addthis-smartlayers {
  position: absolute !important;
}