$max-width: 1185px;
$max-width-content: 980px;
$main-padding-mobile: 30px;
$main-padding-desktop: 100px;
$video-height: (100vw - 4vw * 2) / 1.77;
$performance-padding: 30px;

//Fonts
$path-fonts: "../fonts/";

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-regular: 500;
$font-weight-light: 400;

$font-family-southwest-sans-w01: "Southwest Sans W01";
$font-family-southwest-sans-w04: "Southwest Sans W04";

//Colors
$color-white: #fff;
$color-black: #000;
$color-blue: #304cb2;
$color-blue-grey: #5e7e95;
$color-dark-blue: #1a2c80;
$color-dark-new-blue: #101b40;
$color-black-blue: #111b40;
$color-lighten-blue: #e5f7fd;
$color-white-blue: #eaeef1;
$color-light-blue: #00abe6;
$color-darker-blue: #091b3e;
$color-yellow: #ffbf27;
$color-red: #d5152e;
$color-silver: #bfcbd5;
$color-gray: #e5eaee;
$color-gray-white: #b7b7b7;
$color-light-gray: #fafbfc;
$color-dark-gray: #5d7e95;

//header
$header-height-mobile: 65px;
$header-height: 50px;
$header-background: $color-black-blue;
$header-color: $color-white;
$header-color-hover: $color-yellow;
$main-header-padding-mobile: 10px;

$gamburger-widht: 25px;
$gamburger-height-line: 3px;
$gamburger-margin-line: 5px;
$gamburger-padding-top: ($header-height-mobile - $gamburger-margin-line * 2 - $gamburger-height-line * 3)/2;

$gamburger-color: $header-color;
$gamburger-color-active: $header-color-hover;

$submenu-background: $color-white;
$submenu-color: $color-black-blue;

$search-height: 28px;
$search-color: $color-black-blue;
$search-button-width: 31px;
$search-button-background: $color-white-blue;

//footinfo
$footinfo-color: #cdd7de;

//footnotes
$footnotes-color: $color-blue;
$footnotes-open-color: $header-background;

//slick
$slick-font-path: "../fonts/slick/";
$slick-loader-path: "../fonts/slick/";
$slick-arrow-color: $color-blue;
$slick-dot-color: $color-blue;
$slick-dot-size: 10px;

// New Section Varaibles #21012021
$fontpSize1460: 17px;
$fontpSize1023: 17px;
$fontpSize: 14px;
$marginb30: 30px;
$SectionTitle1460: 60px;
$SectionTitle1023: 60px;
$SectionTitle: 28px;
$buttonRadius: 5px;
$buttonFontSize: 12px;
$buttonFontSize1023: 20px;
$buttonWidth1023: 180px;
$buttonWidth: 100px;
$buttonHeight1023: 55px;
$buttonHeight: 30px;
$backgroud-color: #eaeef1;
$sectionTextColor: #282828;
$sectionWhiteBGColor: #ffffff;
$landingPageSectionTitle: #ffbf27;
$landingPageTopicColor: #0b2742;
$landingPageTopicBGColor: #ffbf27;
$downloadBGSection: #ffbf27;
$tableColor: #020a30;
$tabBgColor: #456783;


// Common Mixin
@mixin button {
  outline: 0;
  border-radius: $buttonRadius;
  min-width: $buttonWidth;
  font-size: $buttonFontSize;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: $font-weight-bold;
  padding: 9px 0px;
  line-height: 100%;
  word-break: break-all;

  &:after {
    display: none;
  }

  @media only screen and (min-width: 1023px) {
    min-width: $buttonWidth1023;
    font-size: $buttonFontSize1023;
    padding: 16px 20px;
  }

}

@mixin sectionTitle {
  margin-bottom: $performance-padding + 10px;
  color: $color-blue;
  font-weight: $font-weight-regular;
  font-size: $SectionTitle;
  text-align: center;
  line-height: 100%;

  @media only screen and (min-width: 300px) {
    padding: 0px 15px;
  }

  @media only screen and (min-width: 1023px) {
    font-size: $SectionTitle1023;
    padding: 0px 100px;
  }

  @media only screen and (min-width: 1460px) {
    font-size: $SectionTitle1460;
  }
}

@mixin container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Reference:- http://southwest.com/stories/diversity-and-inclusion/ */

@mixin storyTop {
  h5 {
    margin-bottom: 14px;
    color: $sectionTextColor;
    font-weight: $font-weight-bold;
    margin-top: 0px;
    font-size: 10px;

    @media only screen and (max-width: 799px) {
      margin-bottom: 20px;
      font-size: 14px;
    }

    a {
      font-style: italic;
      color: $sectionTextColor;
      font-weight: $font-weight-bold;
    }
  }
}

@mixin flexbox() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin slickFlexSlider {
  .slick-slider {
    @include flexbox;
    flex-direction: column;

    .slick-list {
      @include flexbox;
      flex-direction: column;

      .slick-track {
        @include flexbox;
        flex-direction: row;

        .slick-slide {
          &>div {
            width: 100%;
            @include flexbox;
            flex-direction: column;
            flex-grow: 100;
          }
        }
      }
    }

    &.slick-initialized {
      .slick-slide {
        @include flexbox;
        flex-direction: column;
        height: auto;
      }
    }
  }
}