.view-stories-sub-section {
    position: relative;

    .stories {
        .service-info {
            margin-bottom: 0px;

            .column {
                position: relative;
                overflow: hidden;

                .service-info-inner {
                    h3 {
                        text-align: left;
                    }

                    .title {
                        font-size: 18px;
                    }

                    &:hover {
                        padding: 30px;
                        margin: 0px;
                        height: auto;
                        box-shadow: none;

                        .page-tag {
                            top: 20px;
                            left: 20px;
                            transition: none;
                        }
                    }

                    &::before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        display: block;
                        background: #000;
                        opacity: 0.5;
                        position: absolute;
                        left: 0px;
                        top: 0;
                        display: none;
                        transition: all 0.4s ease-in-out;
                    }
                }

                .column-hover {
                    display: none;
                    transition: all 0.4s ease-in-out;

                    .image-object {
                        position: absolute;
                        top: 20px;
                        right: 30px;
                        display: flex;
                        z-index: 2;

                        img {
                            z-index: 2;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }

                    .image-title {
                        position: absolute;
                        bottom: 0px;
                        z-index: 2;
                        text-align: left;
                        left: 30px;
                        right: 30px;
                        top: 190px;
                        padding-bottom: 30px;
                        font-size: 20px;
                        font-weight: $font-weight-medium;
                        color: #fff;
                        text-decoration: none;

                        a {
                            font-size: 20px;
                            font-weight: $font-weight-medium;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                &:hover {
                    .column-hover {
                        display: block;
                    }

                    .service-info-inner::before {
                        display: block;
                    }
                }


            }

        }
    }
}